@model Clicks.Yoga.Emails.UserPasswordResetEmail

@{
    Layout = "~/Views/Emails/_Layout.cshtml";
    Model.Subject = "Your Password";
}





<p>Hello @Model.Request.Login.User.Profile.Forename</p>
           
<p>Reset your YogaClicks password by clicking the link below.</p>
   
<p><a href="@Url.EmailAction("PasswordReset", "Account", new { Model.Request.Key })" target="_blank" style="color:#5da194;text-decoration:underline;">Reset Password</a></p>            
