<div class="col-xs-1"></div>
<div class="col-xs-10">
    <div class="row">
        <div class="col-xs-6">
            <div style="width: 300px;display: inline-block;">
                <div class="signup-footer-image-container clear-fix">
                    <div>
                        <img src="/images/signup/profile-2-1.png" alt="profile avatar">
                    </div>
                    <div>
                        <img src="/images/signup/profile-2-2.png" alt="profile avatar">
                    </div>
                    <div>
                        <img src="/images/signup/profile-2-3.png" alt="profile avatar">
                    </div>
                    <div>
                        <img src="/images/signup/profile-2-4.png" alt="profile avatar">
                    </div>
                    <div>
                        <img src="/images/signup/profile-2-5.png" alt="profile avatar">
                    </div>
                    <div>
                        <img src="/images/signup/profile-2-6.png" alt="profile avatar">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 signup-footer-text-container signup-30-text white-text" style="padding:0">
            <section>

                <p>Transforming life’s challenges, creating lives we love.
Together we can transform the world.</p><br />#PoweredByYoga
            </section>
        </div>
    </div>
</div>
<div class="col-xs-1"></div>
