@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
            body {
                color:#222;
                font-family:sans-serif;
                line-height:1.4;
                font-size:13px;
            }
            h3 {
                font-size:16px;
                font-weight:normal; 
            }
            a {
                color:#5ca29a;
                text-decoration:underline;
            }
                a:hover, a:focus {
                    text-decoration:none;
                }
        </style>
    </head>
    <body>
        <h3>Notice and Take Down Policy</h3>
        <p>Because our Site hosts a large number of items contributed by third parties, including our users, it is not possible for us to be aware of the contents of each item or to review each item before it is posted to our Site.   Accordingly, we operate on a "Notice and Takedown" basis.</p>
<p>If you consider any material on our site to be illegal or unacceptable and wish to complain, please send us a notice (a "Notice") by email to: <a href="mailto:legal@yogaclicks.com">legal@yogaclicks.com</a> containing the following information:</p>
<ul>
<li>Your and (if applicable) your company's full name, address, telephone number and contact email address.</li>
<li>A detailed description of the nature of your complaint (such as infringement of intellectual property rights, defamation, criminal offences, breach of privacy rights etc) quoting the content in full.</li>
<li>Where the Notice relates to infringement of copyright or other intellectual property (IPR), a detailed description of the material in respect of which you claim that the IPR has been infringed and a statement that either you are the owner of, or are duly authorised by the owner of, such IPR.</li>
<li>The URL (the full web page address) of the page the content is on or other detailed description of the location of the content to which you object.</li>
<li>Please specify whether you consider the Notice to be "urgent" or "standard".  If you consider it to be "urgent", please explain why (for example, where criminal content is involved).</li>
</li>
    </ul>
<p>
Where there is more than one item of content about which you wish to complain, the Notice should repeat items 2 to 5 in relation to each such item.
</p>
        <p>
If your Notice does not contain all the required information, we may not be able to evaluate it or take any action in relation to it.
</p>
        <p>
On receipt of a Notice, we will evaluate the complaint and may, if we think fit, suspend, remove or edit the content about which you are complaining.  We will endeavour to respond to your complaint as soon as practicable and in any event within 5 working days.
</p>
        <p>
You agree that we may forward the Notice to any third party, including the provider of the content about which you are complaining.
</p>
        <p>
If following receipt of a Notice we decide to remove or edit any content, that will not amount to any admission of liability on our part, and is without prejudice to any right, remedy and defence which we may have, all of which are expressly reserved.
</p>
        <p>
Please take note that if you give any false, misleading or inaccurate information in any Notice, you may incur liability.  By submitting a Notice, you are representing to us that the information contained in it is true and correct.
</p>
<p>
You accept liability for and shall reimburse us in respect of any damages, costs and expenses which we may incur arising from or in connection with a Notice or the wrongful takedown by us of content referred to in the Notice.
    </p>
        <p><strong>22 April 2013</strong></p>
    </body>
</html>
