<div class="meta">
    <a class="green-text" href="#" data-toggle="modal" data-target="#Disclamer">
        Disclaimer
    </a>
    <div class="modal fade" id="Disclamer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Disclaimer</h4>
                </div>
                <div class="modal-body">
                    <p>

                        YogaClicks does not warrant that the information found on our site will meet your health or medical requirements.
                    </p><p>
                        YogaClicks does not give medical advice in relation to any individual case or patient, nor does YogaClicks provide medical or diagnostic services.
                    </p><p>
                        If you are a medical or health professional then you can use YogaClicks for general information purposes.  However, you should not rely on material found on YogaClicks and we do not accept any responsibility if you do.
                    </p>
                    <p>Yoga is a form of physical and mental activity that bears risk of injury.  It’s your sole responsibility to judge your capabilities and to consult a doctor before using our content, especially if you have any known conditions or are pregnant.</p>
                    <p>These listings are for information only - any reference to a third party and/or its services does not indicate our endorsement, recommendation or approval, nor does it indicate any third party's endorsement, recommendation or approval of YogaClicks.</p>
                    <p>
              
                        Nothing on this site should be considered medical advice or replace medical consultation. Diagnosis, advice, treatment, and other decisions about your treatment and care should be made by a suitably qualified healthcare professional.
                    </p>
                    <p>
                        User stories are personal stories and do not substantiate objective claims about the effectiveness of yoga, meditation or mindfulness.

                    </p>

                </div>

            </div>
        </div>
    </div>
</div>