

<div id="explorer">

    <div class="centerAlign exploretitle text-center">
        You can transform life’s challenges and create the life you love.<br />
        Our community will inspire, inform and equip you.<br />
        <span class="hidden-xs">  Get exploring!</span>
    </div>


    <i class="fa fa-times-circle closeexplore fawhite "></i>


    <section class="strips">
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Dolor">

                    <img src="/images/SvgIcons/expore1.png" style="margin: 0 auto; display:block;" class="img-responsive hidden-xs">

                    <span class=" hidden-md hidden-lg hidden-sm">
                        The Yoga Map Project
                    </span>

                </h1>
                <div class="strip__inner-text">

                    <h2>
                        <a href="http://www.yogaclicks.com/YogaMap#MapTitle">
                            <img src="/images/SvgIcons/expore1.png" style="margin: 0 auto; display:block;" class="img-responsive hidder">
                        </a>
                    </h2>
                    <p>
                        The Yoga Map Project will blow you away with the personal stories of people transforming their lives through yoga. Add your story to get celebrated for your journey, to inspire other yogis on the same path, and to get the whole world on its mat.
                    </p>



                </div>

            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Lorem"><img src="/images/SvgIcons/expore2.png" style="margin: 0 auto; display: block;" class="img-responsive  hidden-xs">

                    <span class=" hidden-md hidden-lg hidden-sm">
                       Clinical Studies
                    </span>
                </h1>
                <div class="strip__inner-text">

                    <h2><a href="http://www.yogaclicks.com/YogaMeds"><img src="/images/SvgIcons/expore2.png" style="margin: 0 auto; display:block;" class="img-responsive hidder">       </a></h2>

                    <p>
                        Yoga will help you with all of life’s big challenges – whether you want to banish the blues, deal with anxiety and stress, or cope with a serious illness like cancer. Don’t believe us? Get stuck into over 300 clinical studies from renowned institutions proving the power of yoga for 30+ health conditions.
                    </p>



                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Ipsum"><img src="/images/SvgIcons/expore3.png" style="margin: 0 auto; display: block;" class="img-responsive hidden-xs" >
                    <span class=" hidden-md hidden-lg hidden-sm">
            Shop Yogi Designers
                    </span></h1>
                <div class="strip__inner-text">
                    <h2><a href="https://www.yogaclicks.store/" target="_blank"><img src="/images/SvgIcons/expore3.png" style="margin: 0 auto; display:block;" class="img-responsive hidder"></a></h2>
                    <p>
                        Our designers have transformed their own lives through yoga, and they’d love to inspire you as you transform yours.
                        Shop our unique, curated range of collections from yoga loving, independent designers around the globe.
                    </p>



                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Sit"><img src="/images/SvgIcons/expore4.png" style="margin: 0 auto; display: block;" class="img-responsive hidden-xs" >
                    <span class=" hidden-md hidden-lg hidden-sm">
                   Trending
                    </span></h1>
                <div class="strip__inner-text">

                    <h2>
                        <a style="" href="/static/trending">
                            <img src="/images/SvgIcons/expore4.png" style="margin: 0 auto; display:block;" class="img-responsive hidder">
                        </a>
                    </h2>
                    <p>
                        Stay up-to-date with what’s trending in the online yoga world through our #PoweredByYoga aggregated social stream. See which pins are making waves on Pinterest and what yoga stories are being shared through Instagram. Don’t forget to tag your #PoweredByYoga story to be featured! 
                    </p>




                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Amet">
                    <img src="/images/SvgIcons/expore5.png" style="margin: 0 auto; display:block;" class="img-responsive hidden-xs" >  <span class=" hidden-md hidden-lg hidden-sm">
   Yoga Pros
</span>
                </h1>
                <div class="strip__inner-text">

                    <h2><a href="http://www.yogaclicks.com/Static/discover"><img src="/images/SvgIcons/expore5.png" style="margin: 0 auto; display:block;" class="img-responsive hidder">    </a></h2>
                    <p>
                        Our teachers, venues and TTOs are the core of our mission. By sharing your schedules, creating a professional profile, offering your online classes, training courses + more, you can help others transform their lives and find the power of yoga.
                    </p>


                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Amet"><img src="/images/SvgIcons/expore6.png" style="margin: 0 auto; display: block;" class="img-responsive hidden-xs" >
                    <span class=" hidden-md hidden-lg hidden-sm">
                       Help Us Grow
                    </span></h1>
                <div class="strip__inner-text">

                    <h2>
                        <a href="http://www.yogaclicks.com/static/YCAmbassador">
                            <img src="/images/SvgIcons/expore6.png" style="margin: 0 auto; display:block;" class="img-responsive hidder">
                        </a>
                    </h2>
                    <p>
                        We want to get the world on its mat but we need your help. We’re looking for volunteers to help us promote the power of yoga so that everyone gets a sense of what it can do for them. If you know the power of yoga and want to help us spread the word - with blogging, social media, PR or marketing - please contact lucy@yogaclicks.com.
                    </p>


                </div>
            </div>
        </article>
        <i class="fa fa-close strip__close fablack"></i>
    </section>


    <script>


        $('.closeexplore').click(function (e) {
            $('#explorer').slideUp();
            $('body').attr("style", " overflow: auto;");

        });
        $('.exploretitle').click(function (e) {
            $('#explorer').slideUp();
            $('body').attr("style", " overflow: auto;");

        });
        $('.hidder').hide();


        var Expand = (function () {
            var tile = $('.strips__strip');
            var tileLink = $('.strips__strip > .strip__content');
            var tileText = tileLink.find('.strip__inner-text');
            var stripClose = $('.strip__close');

            var expanded = false;

            var open = function () {

                var tile = $(this).parent();

                if (!expanded) {
                    tile.addClass('strips__strip--expanded');
                    // add delay to inner text
                    $('.hidder').show();
                    tileText.css('transition', 'all .4s .3s cubic-bezier(0.23, 1, 0.32, 1)');
                    stripClose.addClass('strip__close--show');
                    stripClose.css('transition', 'all .5s 1s cubic-bezier(0.23, 1, 0.32, 1)');
                    expanded = true;
                }
            };

            var close = function () {
                if (expanded) {
                    tile.removeClass('strips__strip--expanded');
                    // remove delay from inner text
                    $('.hidder').hide();
                    tileText.css('transition', 'all');
                    stripClose.removeClass('strip__close--show');
                    stripClose.css('transition', 'all 0.1s 0s cubic-bezier(0.23, 1, 0.32, 1)');
                    expanded = false;
                }
            }

            var bindActions = function () {
                tileLink.on('click', open);
                stripClose.on('click', close);
            };

            var init = function () {
                bindActions();
            };

            return {
                init: init
            };

        }());

        Expand.init();

    </script>

    <style>
        @@font-face {
            font-family: "MuseoSansW01-Rounded300";
            src: url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.eot");
            src: url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.woff") format("woff"), url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.svg#MuseoSansW01-Rounded300") format("svg");
        }


        #explorer {
            font-family: 'Playfair Display', serif !important;
            -webkit-font-smoothing: antialiased;
            text-rendering: geometricPrecision;
            line-height: 1.1;
            height: 100vh;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            display: none;
            width: 100vw;
            z-index: 2000;
            background-color: #444;
            background-color: rgba(69, 69, 69, 0.91);
        }

        * {
            box-sizing: border-box;
        }

        .strips {
            min-height: 80vh;
            text-align: center;
            overflow: hidden;
            color: white;
            position: relative;
            top: 20vh;
        }

        .strips__strip {
            will-change: width, left, z-index, height;
            position: absolute;
            width: 16.7%;
            min-height: 80vh;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

            .strips__strip:nth-child(1) {
                left: 0;
            }

            .strips__strip:nth-child(2) {
                left: 16.66666666666667vw;
            }

            .strips__strip:nth-child(3) {
                left: 33.33333333333334vw;
            }

            .strips__strip:nth-child(4) {
                left: 50.00000000000001vw;
            }

            .strips__strip:nth-child(5) {
                left: 66.66666666666668vw;
            }

            .strips__strip:nth-child(6) {
                left: 83.33333333333335vw;
            }

            .strips__strip:nth-child(1) .strip__content {
                background: white;
                transform: translate3d(-100%, 0, 0);
                animation-name: strip1;
                animation-delay: 0.1s;
            }

            .strips__strip:nth-child(2) .strip__content {
                background: white;
                transform: translate3d(0, 100%, 0);
                animation-name: strip2;
                animation-delay: 0.2s;
            }

            .strips__strip:nth-child(3) .strip__content {
                background: white;
                transform: translate3d(0, -100%, 0);
                animation-name: strip3;
                animation-delay: 0.3s;
            }

            .strips__strip:nth-child(4) .strip__content {
                background: white;
                transform: translate3d(0, 100%, 0);
                animation-name: strip4;
                animation-delay: 0.4s;
            }

            .strips__strip:nth-child(5) .strip__content {
                background: white;
                transform: translate3d(100%, 0, 0);
                animation-name: strip5;
                animation-delay: 0.5s;
            }

            .strips__strip:nth-child(6) .strip__content {
                background: white;
                transform: translate3d(100%, 0, 0);
                animation-name: strip6;
                animation-delay: 0.5s;
            }

        @@media screen and (max-width: 760px) {
            .strips__strip {
                min-height: 13.33333333333333vh;
            }

                .strips__strip:nth-child(1) {
                    top: 0;
                    left: 0;
                    width: 100%;
                }

                .strips__strip:nth-child(2) {
                    top: 13.33333333333333vh;
                    left: 0;
                    width: 100%;
                }

                .strips__strip:nth-child(3) {
                    top: 26.66666666666666vh;
                    left: 0;
                    width: 100%;
                }

                .strips__strip:nth-child(4) {
                    top: 39.99999999999999vh;
                    left: 0;
                    width: 100%;
                }

                .strips__strip:nth-child(5) {
                    top: 53.33333333333333vh;
                    left: 0;
                    width: 100%;
                }

                .strips__strip:nth-child(6) {
                    top: 66.66666666666666vh;
                    left: 0;
                    width: 100%;
                }
        }

        .strips .strip__content {
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-fill-mode: both;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }

            .strips .strip__content:hover:before {
                transform: skew(-30deg) scale(3) translate(0, 0);
                opacity: 0.005;
            }

            .strips .strip__content:before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #444;
                opacity: 0.05;
                transform-origin: center center;
                transform: skew(-30deg) scaleY(1) translate(0, 0);
                transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

        .strips .strip__inner-text {
            -webkit-font-smoothing: subpixel-antialiased;
            position: absolute;
            z-index: 5;
            top: 45%;
            left: 50%;
            width: 70%;
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .strips__strip--expanded {
            width: 100%;
            top: 0 !important;
            left: 0 !important;
            z-index: 3;
            cursor: default;
        }

        @@media screen and (max-width: 760px) {
            .strips__strip--expanded {
                min-height: 100vh;
            }
        }

        .strips__strip--expanded .strip__content:hover:before {
            transform: skew(-30deg) scale(1) translate(0, 0);
            opacity: 0.05;
        }

        .strips__strip--expanded .strip__title {
            opacity: 0;
        }

        .strips__strip--expanded .strip__inner-text {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        .exploretitle {
            color: white;
            display: block;
            font-size: 29px;
            font-family: 'Playfair Display', serif !important;
            height: 20vh;
            line-height: 4vh;
            margin-top: 4vh;
            position: absolute;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s;
            width: 100%;
            z-index: 0;
        }

        .strip__title {
            display: block;
            margin: 0;
            position: relative;
            z-index: 2;
            width: 100%;
            font-size: 3.5vw;
            color: #333;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

        @@media screen and (max-width: 760px) {
            .exploretitle {
                font-size: 15px !important;
                line-height: 3vh !important;
                padding-left: 15px;
    padding-right: 15px;
                /*margin-top: 3.5vh !important;*/
            }


            .strip__title {
                font-size: 28px;
            }
        }

        .closeexplore {
            position: absolute;
            right: 1vw;
            top: 1vw;
            opacity: 1;
            z-index: 10;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            cursor: pointer;
            transition-delay: 0.5s;
        }

        .strip__close {
            position: absolute;
            right: 3vw;
            top: 3vw;
            opacity: 0;
            z-index: 10;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            cursor: pointer;
            transition-delay: 0.5s;
        }

        .strip__close--show {
            opacity: 1;
        }

        @@keyframes strip1 {
            0% {
                transform: translate3d(-100%, 0, 0);
            }

            100% {
                transform: translate3d(0, 0, 0);
            }
        }

        @@keyframes strip2 {
            0% {
                transform: translate3d(0, 100%, 0);
            }

            100% {
                transform: translate3d(0, 0, 0);
            }
        }

        @@keyframes strip3 {
            0% {
                transform: translate3d(0, -100%, 0);
            }

            100% {
                transform: translate3d(0, 0, 0);
            }
        }

        @@keyframes strip4 {
            0% {
                transform: translate3d(0, 100%, 0);
            }

            100% {
                transform: translate3d(0, 0, 0);
            }
        }

        @@keyframes strip5 {
            0% {
                transform: translate3d(100%, 0, 0);
            }

            100% {
                transform: translate3d(0, 0, 0);
            }
        }

        @@keyframes strip6 {
            0% {
                transform: translate3d(0, 0, -100%);
            }

            100% {
                transform: translate3d(0, 0, 0);
            }
        }



        .strip__title {
            font-weight: 200;
            font-family: 'Playfair Display', serif !important;
        }

        .fawhite {
            font-size: 35px;
            color: white;
        }

        .fablack {
            font-size: 25px;
            color: #333;
        }

        .strip__title {
            font-size: 4vh;
            font-family: 'Playfair Display', serif !important;
        }

        #explorer h2 {
      
        }

        .strip__inner-text  p {
            font-size: 19px;
            margin: 0 0 16px;
            line-height: 1.5;
            font-family: "MuseoSansW01-Rounded300", "Source Sans Pro", sans-serif;
            color: #333;
        }

        /*.strip__inner-text a:hover, a:active, a:visited {
            text-decoration: none;
        }

        .strip__inner-text a {
            text-decoration: none;
        }*/
           @@media(max-width:767px) {
               .hidder {
            max-width: 146px;
    MARGIN-TOP: -25%!important;
               }
               .strip__title {
                       font-size: 3.2vh;
               }


            }
        

    </style>

</div>
