@model Clicks.Yoga.Portal.Models.Search.SearchDiscoverModel

<div id="navwrap">
    
    <section class="filters discoveryFilters" id="filter-results">
        <div class="the-sub-menu">
            <h2>Lucky Dip</h2>
            <p>No need to stay up all night to get lucky. 
                <br />
                <br />
                Explore all paths to cosmic bliss right here.</p>
        </div>
    </section>
</div>
