@model Clicks.Yoga.Portal.Models.Glossary.GlossaryIndexModel


<div id="navwrap">
    
    <section id="filter-results" class="filters lingoFliterResults">
        <div id="filter-wrap">


            <div class="the-sub-menu">

                <span id="right-menu-close" title="Close" class="close filter-icon pull-right hidden-sm hidden-md hidden-lg" aria-label="Close"><span aria-hidden="true">&times;</span></span>


                <h1 class="pageTitle">Lingo</h1>
                <p nopadding>
                    <strong>Filter alphabetically</strong>
                </p>
                <nav class="filter lingoFliter nopadding">
                    @foreach (var letter in Model.Entries.Select(x => x.Term.ToLower()[0]).Distinct())
                    {
                        <a href="#" class="lingo-letter" data-letter="@letter">@letter.ToString().ToUpper()</a>
                    }
                </nav>
                <p class="nopadding">
                    <small>Lingo extract from Yoga School Dropout. Lucy Edge's quest for life's deeper meaning in the yoga schools of India. Published by Ebury Press.</small>
                </p>
            </div>




        </div>
    </section>
</div>


<script type="text/javascript">

    $("#right-menu-close").click(function () {
        $("#right-nav").fadeToggle("fast");
        $(".dark-overlay").fadeToggle("slow");
    });


    $(".lingo-letter").click(function () {
        $("#right-nav").hide();
        $(".dark-overlay").hide();
        resizeDiv();
    });
</script>