@*<div id="navwrap">
    
    <section class="filters" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu">
                <nav class="filter ">

                    <span id="right-menu-close"  title="Close" class="close filter-icon pull-right hidden-sm hidden-md hidden-lg" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                    <h1 class="pageTitle"><span><span  style="color: #EB2D83;">Tanks, tops, tees and other gorgeous goodies.</span></span></h1><br />
                      <div data-background_color="ffffff" data-button_background_color="EB2D83" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Add to cart" data-collection_handle="GreyMenuonYogaClicks" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="EB2D83" data-redirect_to="modal" data-shop="yogaclicks.myshopify.com"></div>

                    <h3 class="centerAlign">See more on our <a href="http://www.yogaclicks.store/">Online Store</a></h3><br /><br /><br />

                </nav>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">

    $("#right-menu-close").click(function () {
        $("#right-nav").fadeToggle("fast");
        $(".dark-overlay").fadeToggle("slow");
    });

</script>*@

