@model Clicks.Yoga.Portal.Models.Shared.SuperUserAccessPartialModel

@if (SecurityContext.IsSuperUser() && SecurityContext.CurrentActor.Id != Model.User.Id)
{
  
        <button class="btn  btn-danger pull-right"  onclick="location.href = '@Url.Action("SuperUserAccess", "Account", new {userId = Model.UserId, destination = Request.Url})'; return false;">Super User - Login as this user</button>
  
}

