@{
    ViewBag.Title = "Activate Account Complete";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.BodyClass = "manual-register-page";
}
<div class="forgotPasswordBg">
    <div class="container-960">
        <div class="manual-register">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
