@model Clicks.Yoga.Portal.Models.Account.AccountPasswordResetRequestModel

@{
    ViewBag.Title = "Password Reset Request";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.BodyClass = "register-page";
}


<div class="forgotPasswordBg">
    <div class="container-960">
@using (Html.BeginForm("passwordresetrequest", "account", FormMethod.Post, new { @class = "full" })) {
<div class="manual-register">
    <h2>Reset your password</h2>
    @Html.ValidationSummary()
    <p>If you've forgotten your password, we can send you a link to reset it.</p>
    <p>Enter the e-mail address you used to sign up with YogaClicks, and follow the instructions in the e-mail.</p>
    @Html.TextBoxFor(m => m.Username, new { placeholder = "Email Address" })
    <a class="textLink fl" style="margin-top:15px;" href="/">Cancel</a>
    <button class="button large pink fr" type="submit">Submit</button>
</div>
}
            <a href="http://www.facebook.com/Artist.Photografia" class="copyrightLink">Image courtesy of Robert Sturman</a>
        </div>
</div>
