<div class="  HomepageBox nomargin">

    <div class="row nomargin">
    
            <div class="col-sm-6 nopadding">
                <a href="/Home/Marketing">
                    <span class="HomepageBox1 Menubarlinks">
                        Marketing | Digital | Media

                    </span>
                </a>
            </div>
            <div class="col-sm-6 nopadding">
                <a href="/Home/Accountancy"><span class="HomepageBox2 Menubarlinks">Accountancy</span></a>
            </div>



            <div class="col-sm-4 nopadding">
                <a href="/Home/Sales"> <span class="HomepageBox3 Menubarlinks">Sales</span></a>
            </div>
            <div class="col-sm-4 nopadding">
                <a href="/Home/IT"> <span class="HomepageBox4 Menubarlinks">IT</span></a>
            </div>
            <div class="col-sm-4 nopadding">
                <a href="/Home/Finance"><span class="HomepageBox5 Menubarlinks">Finance</span></a>
            </div>

        </div>
    </div>