@model dynamic

@{
    ViewBag.Title = "Advertise with us";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section LeftNav{
    @Html.Partial("left-nav-static.WantToHelp")
}

@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}



<div class="row nopadding">


    <section class="advertiseSection firstSection col-xs-12 ">
        <br /><br />
        <div class="text">
            <h2>So, you want to reach out to our growing yoga community?</h2>
            <h2>Excellent idea - two options</h2>
        </div>
        <div class="browserImage">
            <img class="img-responsive" src="/images/advertise-sections/advertise-first.jpg" />
        </div>
        <br /><br />
    </section>







    <section class="advertiseSection secondSection  col-xs-12 ">

        <div class="browserImage">
            <img class="img-responsive" src="/images/advertise-sections/advertise-second.jpg" />
        </div>
        <br /><br />
    </section>




    <section class="advertiseSection thirdSection col-xs-12 centerAlign">

        <div class="text">
            <h2>Interested in looking this</h2>
            <img class="img-responsive center-block" title="Fabulous?" src="~/Images/advertise-sections/fabulousText.png" />

            <p>
                We don't blame you.<br />
                Email <a href="mailto:advertise@yogaclicks.com?subject=Advertise with YogaClicks">advertise@yogaclicks.com</a> for our rates.
            </p>
        </div>
        <br /><br />
    </section>




</div>
