@model dynamic

@{
    ViewBag.Title = "Join the Yogaclicks Community | YogaClicks";
    ViewBag.Description = "Join the YogaClicks community! Create a profile and get a personal newsfeed. Create or join groups and hang out in the yogahood.";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}



<div id="content-slider" class="content-slider">

	<div class="content-col" id="scroll">

		<section class="page-content">
        
        	<article id="static">
                <header>
                    <h2>Advertise with us</h2>
                </header>
            </article>
            
        </section>

	</div>

</div>
