@model dynamic

@{
    ViewBag.Title = "Manifesto";
    Layout = "~/Views/Layout/layout.cshtml";
}
@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}
@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}



<div id="content-slider" class="content-slider">

	<div class="content-col" id="scroll">

		<section class="page-content">
        
        	<article id="static">
                <div>
                    <img src="/images/static/manifesto/manifesto.jpg" alt="Manifesto" class="scale" />
                </div>
            </article>
            
        </section>

	</div>
     
</div>
