@model dynamic

@{
    ViewBag.Title = "Meet the Team";
    Layout = "~/Views/Layout/layout.cshtml";
}
@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}
@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}



<div id="content-slider" class="content-slider">

	<div class="content-col" id="scroll">

		<section class="page-content">
        
        	<article id="static">

                <h1>Meet the team</h1>

                <div id="team">
                <p>Meet the YogaClicks team – a rag-tag bag of oddballs dedicated to bring you the freshest yoga on the planet.</p>
                    <div class="member clearfix">
                        <div class="photo"><img src="/images/static/team/lucy-edge.jpg" /></div>
                        <div class="bio">
                            <p><strong>Lucy Edge</strong> – co-founder, manager of everything, copywriter</p>
                            <p>Lucy reads, writes and practices yoga. Her favourite objects are her mouse – the computer kind, and her mat – not the computer kind.</p>
                        </div>
                    </div>
                    <div class="member clearfix">
                        <div class="photo"><img src="/images/static/team/david-portrait.png" /></div>
                        <div class="bio">
                            <p><strong>David Mascarenhas</strong> – co-founder and business guy</p>    
                            <p>David grew up kite-running on the rooftops of Pakistan and playing cricket in India. He loves Lucy, yoga and ideas – YogaClicks is the natural outcome.</p>
                        </div>
                    </div>
                    @*<div class="member clearfix">
                        <div class="photo"><img src="/images/static/team/matt-gill.png" /></div>
                        <div class="bio">
                            <p><strong>Matt Gill</strong> – social media guy</p>
                            <p>Matt is a student, teacher and lover of all things yoga. He’s also a digital marketing nerd, a voracious reader and occasional blogger.</p>
                        </div>
                    </div>*@
                   <!-- <div class="member clearfix">
                        <div class="photo"><img src="/images/static/team/mel-perkins.jpg" /></div>
                        <div class="bio">
                            <p><strong>Mel Perkins</strong> – social media manager</p>
                            <p>Mel manages silence on her mat but makes up for it AFM (Away From Mat.) When she's not talking she's tweeting for YogaClicks, and when she's not tweeting she's Facebooking, and when she's not Facebooking she's baking, and singing gospel. The cakes love it - apparently. All rise.</p>
                        </div>
                    </div>
                       -->
                    @*<div class="member clearfix">
                        <div class="photo"><img src="/images/static/team/silja-frey.png" /></div>
                        <div class="bio">
                            <p><strong>Silja Frey</strong> – pose lady</p>
                            <p>Silja’s biggest passions are scuba diving and yoga. Her perfect day is yoga followed by a deep dive; Fish Pose anyone?</p>
                        </div>
                    </div>*@
                   <!-- Commenting Alice out :( Haven't the heart to just delete her.
                        <div class="member clearfix">
                        <div class="photo"><img src="/images/static/team/alice.jpg" /></div>
                        <div class="bio">
                            <p><strong>Alice Spalding</strong> – captain of admin</p>
                            <p>After 3 years of studying Drama at UEA and a lifetime of performing induced nerves, Alice has now decided that the calm and focus of a yogi is definitely more her 'thing'. When not trying to find inner peace, she spends her time doing everything admin in the YogaClicks office. She also loves to bake, although has never sung to her cakes. She doesn't think they'd like it.</p>
                        </div>
                    </div>
                     
                    <div class="member clearfix">
                        <div class="photo"><img src="/Images/static/team/daisy2.png" /></div>
                        <div class="bio">
                            <p><strong>Daisy Sajnog</strong> – digital dynamo</p>
                            <p>This girl is mad about video games and after an intensive gaming session, curled up against her computer in a darkened room for hours on end, she loves nothing more than a big, long yoga stretch to bring herself back to the real world. The surname is Polish (have a go: 's&#257;y-n&#335;g').</p>
                        </div>
                    </div>
                         -->
                    <h2>Acknowledgements</h2>
                    <p>It's a big list, so deep breath! Well a website doesn't just happen over night, you know.</p>
                    <!--
                    <p> A big thank you to all of the people who helped make this site happen, especially Julee Yew-Crijns, Jeff and Jen Phenix, Helen Shepherd, Mark Ruthven, Mel Perkins, Alice Spalding, Daisy Sajnog, Rosie Winston, David Green, Steve Rowson and Robert Sturman.</p>                
                    -->
                        <p> Special thanks to these lovely people who helped make our site beautiful with their wonderful photography:
                        </br>
                        Faern Walks, Stephen Rowson, Julee Yew-Crijinns, Helen Shepherd, Robert Sturman, Rosie Winston, Jeff and Jen Phenix, Cherie Lathey, David Green, Kookie Malik, Yvonne, Cynthia, and Daniel Mascarenhas, and Safiya Sarfaraz.
                    </p>
                    <p>
                        Thanks as well to the yoga gurus Sunita Shah, Matt Gill and Bob Weisenberg who helped us with the history of yoga (which is no small task!)
                    </p>
                    <p>
                        And finally, thanks to our clever techies who guided us in our time of need, Cemal Dosembet and Chriss Barnard. 
                       </p>
                    <p>Phew! We're done!
                    </p>
                    <p>Steve’s sadhus are at: <a href="http://stephenrowson.com/" target="_blank">stephenrowson.com/</a> </p>
                    <p>Robert Sturman’s yoga is at: <a href="http://www.facebook.com/Artist.Photografia" target="_blank">www.facebook.com/Artist.Photografia</a> </p>
                </div>
            </article>
            
        </section>

	</div>

</div>
