@model dynamic

@{
    ViewBag.Title = "Our Story";
    Layout = "~/Views/Layout/layout.cshtml";
}
@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}
@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}



<div style="margin-left: -15px;margin-right:-15px" class="nopadding hidden-sm hidden-md hidden-lg">
    <section class="filters greyScale" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu addpadding">
                <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon"></span></a>
                <h1>Our Story</h1>
            </div>
        </div>
    </section>
</div>



<div class="row nopadding">
    <div class="col-xs-12 ">

        <section class="page-content ">
            <article id="static">
                <h1 class="hidden-xs pinkColour">Our Story</h1>
                <br />
                <img src="/images/our-story/LucyDavidWedding.png" alt="Image of David and me" class=" img-responsive "><br/>

         


                <h2 class="pinkColour">YogaClicks was born out of my love of yoga and a drive to share that love – to transform the world into a healthier, happier place #PoweredByYoga.</h2>
                <br />
                <p>Back in the day I was a Board Director at one of London’s top ad agencies. I had a smart flat, I drove a convertible and I ate out most nights of the week. And I was miserable. I hadn’t had a relationship in years. I was diagnosed as clinically depressed. I tried anti-depressants but preferred to self-medicate with alcohol, chocolate and coffee.</p>

                <p>Then I discovered yoga. It was tough. I wobbled. I ached. I cried. But it was love.</p>

                <p>On one level it worked as a retreat from the craziness, a safe space to get some peace and balance but, on a deeper level, it became the place that I got to know and love myself, and classes became a place to meet like-minded people, many of whom were on the same journey.</p>

                <p>Put simply, I’d come home.</p>

                <p>I realised that I needed to make some serious changes in my life but I wasn't sure in what direction.</p>

                <p>I decided to take a career break and head to India. I had vague notions of acquisition – maybe I’d meet someone and something would happen, maybe I’d get a yoga goddess body, but all I really knew for sure was that I wanted to practice yoga. Somehow the rest would take care of itself.</p>

                <br />

                <img src="/images/our-story/lucyintheganges.png" alt="Six months later I came home..." class="img-responsive ">
                <br /><br />

                <p>Six months later I came home.  I had acquired nothing, and everything. No goddess body. No boyfriend. No new home. But it didn’t matter, inspired by the so-called ordinary Indians, I knew I had everything I needed inside of me. A way of seeing clearly and choosing wisely, a balanced approach to life, that had room for all of life’s joys, including the odd glass of Pinot Grigio.</p>

                <p>Sharing my experience in my book Yoga School Dropout led to emails from readers wanting recommendations on places to practice – not just in India but all over the world.</p>

                <p>I considered selflessly devoting myself to traveling the world seeking out the best in yoga, but that seemed a tad self-indulgent, and more than anything I wanted to create a digital space that could reflect and expand on my real life experience – the joy of sharing my love of yoga with like-minded souls, and the joy of bringing new souls into that space. Meeting David, who shared my love of yoga, and soon after became my husband, gave me the impetus to put my dream into action.</p>

                <p>YogaClicks not only makes it super-easy to find and share our yoga loves – whether that’s our favourite teacher, a blissful holiday, a fun yoga t-shirt, or our very own #PoweredByYoga story – we take a particular interest in breaking down the barriers that stand between newbies and yoga, showing them that yoga is not just for the super-bendy, the young and pretty, or the inspirational quote lovers – although we do love a good quote. We show that yoga’s for all of us – regular people with families to raise, work to do, business to run, meals to make, dogs to walk, and five minutes in which to get it all done.</p>

                <p>So help us get the world #PoweredByYoga – join our community, pin yourself on the Yoga Map, and share our yoga loves. We look forward to sharing yours!</p>
                <br /><br />

                <img src="/images/our-story/LucySig.png" alt="Lucy" class="img-responsive">
                <br /><br />

            </article>

        </section>
    </div>
</div>