@model dynamic

@{
    ViewBag.Title = "PRIVACY POLICY &amp; COOKIES";
    Layout = "~/Views/Layout/layout.cshtml";
}

@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}
@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}



    <div style="margin-left: -15px;margin-right:-15px" class="nopadding hidden-sm hidden-md hidden-lg">

        <section class="filters greyScale" id="filter-results">
            <div id="filter-wrap">
                <div class="the-sub-menu addpadding">

                    <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon"></span></a>

                    <h1>PRIVACY POLICY &amp; COOKIES</h1>
                </div>
            </div>
        </section>



    </div>



    <div class="row nopadding">
        <div class="col-xs-12 ">

            <section class="page-content">

                <article id="static">
                
                        <h1 style="font-style:italic" class="hidden-xs">PRIVACY POLICY &amp; COOKIES</h1>
                   
                    <p>This Website www.yogaclicks.com (<strong>“Website”</strong>) is owned and operated by YogaClicks Limited (<strong>“we”</strong>, <strong>“us”</strong> and <strong>“our”</strong>).  We are registered in England and Wales under company number 08323662 and have our registered office at 2nd Floor, 12 Upper King Street, Norwich, Norfolk, England, NR3 1HA.</p>
                    <p>We are committed to protecting and respecting your privacy.  This policy (together with our <a href="@Url.Action("terms-of-use", "static")">Terms of Use</a> and any other documents referred to in it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.  Please read the following carefully to understand our views and practices regarding your personal data and how we will use it.  By using this Website www.yogaclicks.com (“this Website”), you are giving us permission to use your personal data in the ways set out in this policy.</p>
                    <p>We are registered under the Data Protection Act under registration number Z3470074.</p>
                    <br />
                    <h2>INFORMATION WE MAY COLLECT FROM YOU</h2>
                    <p>We may collect and process the following data about you:</p>
                    <ul>
                        <li>information that you provide by completing forms on this Website.  This includes any information provided at the time of registering to use this Website or any of the services available through this Website, subscribing to our service, posting material or requesting further services.  We may also ask you for information when you report a problem with this Website;</li>
                        <li>if you contact us, we may keep a record of that correspondence;</li>
                        <li>details of your visits to this Website (including, but not limited to, traffic data, location data, discussion boards and communication data) and the resources that you access;</li>
                        <li>information about your computer, including where available your IP address, operating system and browser type;</li>
                        <li>information you post or upload to this Website or information you transmit when communicating with other registered users through the interactive features of this Website;</li>
                        <li>details and information on the way that you use this Website including, without limitation, the pages you visit and the time you spend on this Website; and</li>
                        <li>we may receive information about you from other sources and add it to our account information.</li>
                    </ul>

                    <h2>COOKIES</h2>
                    <p>In order to improve this Website, we may use small files commonly known as “cookies”.  A cookie is a small amount of data which often includes a unique identifier that is sent to your computer or mobile phone (referred to in this policy as a 'device') from this Website and is stored on your device's hard drive.</p>
                    <p>A cookie records on your device information relating to your internet activity (such as whether you have visited this Website before). The cookies we use on this Website do not collect any personally identifiable information about you.</p>
                    <p><strong style="text-decoration: underline">How can you control the use of cookies from this Website?</strong></p>
                    <p>If you do not want us to use cookies when you use this Website, you can adjust your internet browser settings not to accept cookies. Your web browser's help function should tell you how to do this. Alternatively, you can find information about how to do this for all the commonly used internet browsers on the website: http://www.aboutcookies.org/default.aspx. This Website will also explain how you can delete cookies which are already stored on your device. </p>
                    <p>We currently set the following cookies:</p>
                    <br />
                    <h2>ASP.NET_SessionId</h2>
                    <p>We use this cookie to maintain both password and Facebook login sessions. This cookie is set when you login either with a password or using Facebook.</p>
                    <p><strong>fbsr_486335348064436</strong></p>
                    <p>This cookie is set by Facebook to maintain user login sessions.</p>
                    <br />
                    <h2>Google Analytics </h2>
                    <p>We also use a number of cookies for Google Analytics. Google Analytics is a web analytics service provided by Google Inc. in order to understand how visitors to this Website use the website. The Google Analytics cookies remember you from one page request to the next, for example to differentiate between 'new' and 'returning' visitors. We receive reports from Google Inc. about website usage (such as the number of visitors to this Website or the number of unique page views). Google Analytics cookies do not collect personal information about you.  Full details can be found at:</p>
                    <p><a href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies" target="_blank">https://developers.google.com/analytics/resources/concepts/gaConceptsCookies</a> </p>
                    <br />
                    <h2>WHERE WE STORE YOUR PERSONAL DATA</h2>
                    <p>The data that we collect from you is stored on servers located within the European Economic Area. We take all reasonable technical and organisational measures to safeguard your personal data and ensure it is treated securely and in accordance with this Privacy Policy.  However, you acknowledge that transmission of information via the internet is not completely secure.  For this reason, we cannot guarantee the security of your personal data transmitted to this Website.</p>
                    <br />
                    <h2>USES MADE OF THE INFORMATION</h2>
                    <p>We use information held about you in the following ways:</p>
                    <ul>
                        <li>to provide you with access to this Website and the content and services available through it;</li>
                        <li>to provide you with information about yoga and any services, products, events, promotions, special offers and other information which we think will be of interest to you;</li>
                        <li>to deal with any queries, complaints or questions you ask us;</li>
                        <li>to allow you to participate in interactive features of our service, when you choose to do so;</li>
                        <li>to notify you about changes and provide you with information about this Website and its services;</li>
                        <li>to ensure that content from this Website is presented in the most effective manner for you and for your computer; </li>
                        <li>to customise this Website and its content to your particular preferences;</li>
                        <li>for fraud protection and credit risk reduction purposes;</li>
                        <li>and for this Website and system administration, including, without limitation, technical support of this Website and its computer system and processing information used in the course of securing and maintaining this Website.</li>
                    </ul>
                    <br />
                    <h2>MARKETING</h2>
                    <p>Unless you have asked us not to do so, we or third parties selected by us may use your data to contact you by email or message to your account about products, services, promotions and special offers which we think may be of interest to you.</p>
                    <p>If you prefer that we do not use your data for marketing purposes, you can opt-out at any time.  If you wish to do this, you can opt-out by ticking certain boxes on the forms we use to collect your data or updating your account details on this Website.  </p>
                    <p>You can also opt-out at any time by contacting us at legal@yogaclicks.com.</p>
                    <br />
                    <h2>DISCLOSURE OF YOUR INFORMATION</h2>
                    <p>We will not disclose your personal information to third parties save for the following:</p>
                    <ul>
                        <li>to third parties selected by us to let you know about products, services, promotions and special offers which we think may be of interest to you. If you prefer that we do not disclose your information to third parties for this purpose, you can opt-out in accordance with the section headed “Marketing” above;</li>
                        <li>in the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets;</li>
                        <li>if we or substantially all of our assets are acquired by a third party, in which case personal data held by us about our users will be one of the transferred assets;</li>
                        <li>if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our Terms of Use and other agreements; or </li>
                        <li>to protect our rights, property or safety, or that of our customers, users or other third parties. This includes exchanging information with other companies and organisations for the purposes of fraud protection, credit risk reduction and law enforcement.</li>
                    </ul>
                    <br />
                    <h2>LINKS</h2>
                    <p>This Website may contain links to other websites.  This Privacy Policy only applies to this Website.  When you link to other websites, you should read their privacy policies carefully.</p>
                    <br />
                    <h2>AFFILIATE SITES</h2>
                    <p>We may have affiliate sites available through this Website.  Because we select these sites carefully, we believe that our affiliates have adopted suitable privacy policies, but we cannot guarantee that this is always the case. Please read carefully the privacy policy of each site you access through this Website before submitting any personal data.</p>
                    <br />
                    <h2>EDITING AND DELETION OF DATA</h2>
                    <p>Generally, you may delete any content you upload to this Website.  If you wish to deactivate your account, you may do so through the account page.</p>
                    <p>Removed content may persist in backup copies for a reasonable period of time and as necessary to comply with our legal obligations.  Even after removal from this Website, content may continue to be viewable on search engines and other sites that may have cached (or copied) the information when it was on this Website.</p>
                    <p>Where you make use of the interactive features of this Website, e.g. posting user messages, reviews or comments on discussion boards, you may not be able to remove such communications.</p>
                    <br />
                    <h2>ACCESS TO INFORMATION</h2>
                    <p>The UK Data Protection Act gives you the right to access information held about you.  Your right of access can be exercised in accordance with the Act.  Any access request is subject to a fee of £10 to meet our costs in providing you with details of the information we hold about you.</p>
                    <p>We want to make sure that your personal information is accurate and up-to-date.  You may ask us to correct or remove information about you that is not accurate.</p>
                    <br />
                    <h2>CHANGES TO OUR PRIVACY POLICY</h2>
                    <p>Any changes we may make to our Privacy Policy in the future will be posted on this page and, where in our opinion appropriate, notified to you by email or message to your account.  You should check this page regularly to ensure you are aware of the most recent version which will apply each time you access this Website. </p>
                    <br />
                    <h2>CONTACT US</h2>
                    <p>Questions, comments and requests regarding this Privacy Policy should be addressed to:</p>
                    <p>
                        YogaClicks Limited<br />
                        Address: 2nd Floor, 12 Upper King Street, Norwich, Norfolk, England, NR3 1HA<br />
                        Telephone: (+44) (0) 1603 613 653
                        <br />Email: <a href="legal@yogaclicks.com">account@yogaclicks.com</a>
                    </p>
                    <p>Privacy Policy effective as of 23 January 2013.</p>


                </article>

            </section>

        </div>

    </div>
