@model dynamic

@{
    ViewBag.Title = "TERMS OF USE";
    Layout = "~/Views/Layout/layout.cshtml";
}
@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}
@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}



<div style="margin-left: -15px;margin-right:-15px" class="nopadding hidden-sm hidden-md hidden-lg">

    <section class="filters greyScale" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu addpadding">

                <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon"></span></a>

                <h1>TERMS OF USE</h1>
            </div>
        </div>
    </section>

</div>



<div class="row nopadding">
    <div class="col-xs-12 ">

		<section class="page-content">
        
        	<article id="static">
         
                    <h1 style ="font-style:italic" class="hidden-xs">TERMS OF USE</h1>
         
                <p>This page (together with the documents referred to on it) tells you the Terms of Use on which you may use our website www.yogaclicks.com <strong>(“Website”)</strong>, whether as a guest or a registered user, whether for a fee or for free and whether on a permanent or a trial basis. Please read these Terms of Use carefully before using this Website.  Your attention is particularly drawn to the following:</p>
                <ul>
                <li>Our <a href="@Url.Action("privacy-policy")">Privacy Policy</a> – which tells you how we use your registration data and other information we collect about you.</li>
                <li>Our <a href="#standards">User Conduct and Content Standards</a> – which apply to any images, drawings, video, audio, text, lists and other content you upload to this Website <strong>(“User Content”)</strong> (paragraph 8). In particular, but without limiting the scope of paragraph 8:</li>
                </ul>
                <h2>You acknowledge that you may not upload or transmit any content that:</h2>
                <ul>
                <li>is libellous, defamatory, obscene or abusive;</li>
                <li>violates any law or advocates, promotes or assists any illegal activity;</li>
                <li>infringes any intellectual property rights;</li>
                <li>is pornographic or sexually explicit;</li>
                <li>is likely to deceive, impersonate or misrepresent your identity or affiliation with any person or with us;</li>
                <li>causes distress, embarrassment, unwanted attention or discomfort to another or invades their privacy; and</li>
                <li>constitutes a personal attack based on an individual’s race, national origin, ethnicity, religion, gender, sexual orientation, disability, age or other identification.</li>
                <li><a href="#disclaimers">Our Disclaimers and Limitations of Liability</a> (paragraphs 15 and 16).  In particular, but without limiting the scope of paragraphs 15 and 16:</li>
                </ul>
                <h2>You acknowledge that:</h2>
                <ul>
                <li>yoga is a form of physical and mental activity that bears a risk of injury both physical and psychological;</li>
                <li>when using any content on this Website or on any linked or affiliated website (including without limitation, any advice, instructions or demonstrations regarding yoga poses, searching for and selecting classes, activities and teachers) it is your sole responsibility to judge your physical and mental capabilities and fitness to engage in such activity;</li>
                <li>we do not have any responsibility or liability for assessing your suitability to engage in any physical or mental activity or to follow any advice, recommendations or information on this Website.</li>
                </ul>
                <p>By using this Website, you indicate that you accept these Terms of Use and that you agree to abide by them. If you do not agree to these Terms of Use, please refrain from using this Website.</p>
                <h2>INFORMATION ABOUT US</h2>
                <p>This Website is owned and operated by YogaClicks Limited (“we”, “us” and “our”).  We are registered in England and Wales under company number 08323662 and have our registered office at 2nd Floor, 12 Upper King Street, Norwich, Norfolk, England, NR3 1HA.</p>
                <h2>1.	USE OF THIS WEBSITE</h2>
                <div class="indented">
                <p>1.1.	You must be 18 years of age or older to use this Website and the content and services provided through it. By using this Website, you represent and warrant that you are 18 years or older.</p>
                <p>1.2.	We grant you a limited, non-exclusive, non-transferable and revocable licence to access this Website and its content and services solely as an end user and subject to these Terms of Use.</p>
                <p>1.3.	We may change, withdraw, suspend or discontinue the Website at any time without notice, including the availability of any service, feature, database or content. We may also impose limitations on certain features and services or restrict your access to parts or all of this Website and the content and services available without notice. We reserve the right to introduce at our discretion a registration fee or subscription fee in consideration of the licence granted in paragraph 1.2.</p>
                <p>1.4.	You are responsible for making all arrangements necessary and paying any fees applicable for you to have access to this Website, such as obtaining and maintaining any equipment and services needed to connect to, access or otherwise use this Website. You are also responsible for ensuring that all persons who access this Website through your internet connection are aware of these Terms of Use and that they comply with them.</p>
                <p>1.5.	This Website may contain additional terms that further govern the use of a particular aspect or service of this Website, including without limitation particular features or offers. If any terms contained in these Terms of Use conflict with any terms contained elsewhere on this Website, then these Terms of Use shall prevail.</p>
                <p>1.6.	When using this Website, you must at all times comply with our User Conduct and Content Standards, as set out in paragraph 8 below.</p>
                </div>
                    <h2>2.	REGISTRATION &amp; SECURITY</h2>
                <div class="indented">
                <p>2.1.	We may restrict access to our entire Website or certain parts of this Website to users who have registered with us. Access to your account will be protected by an email address and password which you will choose at the time you register. If you register with us, you must provide true and accurate information about yourself. Should the registration information provided prove false or misleading, we may suspend or terminate your account.</p>
                <p>2.2.	You may not select or use as your account ID or email address an ID or email address of another person with the intent to impersonate that person. If you misuse your account in breach of these Terms of Use, we reserve the right to refuse registration of or cancel your account at our discretion.</p>
                <p>2.3.	You are responsible for maintaining the confidentiality of your account details, including any password or any other piece of information that forms part of our security procedures, and you must not disclose these to any third party. We have the right to disable any user account details or passwords at any time if in our opinion you have failed to comply with any of these provisions.</p>
                <p>2.4.	You are responsible for all activity under your account even if someone else uses your account. We are entitled to assume that anyone accessing your account using your email address and password is either you or someone authorised by you. You authorise us to act on instructions received under your account and we will not be liable for any loss that you might suffer through following such instructions whether by you or another person.</p>
                <p>2.5.	You must notify us at legal@yogaclicks.com of any known or suspected unauthorised use(s) of your account, or any known or suspected breach of security connected with this Website, including loss, theft, or unauthorised disclosure of your password or credit card information.  </p>
                <p>2.6.	You should exit from your account at the end of each session.</p>
                </div>
                    <h2>3.	PRIVACY POLICY</h2>
                <div class="indented">
                <p>3.1.	We use and process your registration data and certain other information we collect about you in accordance with our Privacy Policy. For more information, please see our full Privacy Policy.</p>
                <p>3.2.	By using this Website, you are consenting to such processing and use, and you warrant that all data provided by you is accurate, correct and up-to-date.</p>
                </div>
                    <h2>4.	INTELLECTUAL PROPERTY RIGHTS </h2>
                <div class="indented">
                <p>4.1.	Save for User Content (as defined in paragraph 8.1 below), all content published, displayed or performed on this Website (including, but not limited to text, lists, directories, graphics, photographs, images, illustrations, drawings, audio clips, video clips, interactive applications and search features) (“Website Content”) is protected by copyright, trade marks, database right and other intellectual property rights, which are owned or controlled by us or our third party licensors and content providers. Save to the extent expressly provided in these Terms of Use, you shall not obtain any right, title or interest in any of the Website Content.</p>
                <p>4.2.	You are not granted any commercial, copying, sale, resale, rental, lending, adaptation, reproduction, distribution, publication, modification, broadcast or promotional rights for the Website Content. You may not without our prior written consent (except to the extent required in order to use this Website in accordance with these Terms of Use) use the Website Content for any purposes that require such rights, systematically extract any of this Website Content or in any way use or exploit commercially any of this Website Content. Such use is expressly prohibited and may violate applicable laws.</p>
                </div>
                    <h2>5.	LAWFUL USE</h2>
                <div class="indented">
                <p>5.1.	You may use this Website only for lawful purposes. You must not use this Website:</p>
                <p>5.1.1.	in any way that breaches any applicable local, national or international law or regulation;</p>
                <p>5.1.2.	in any way that is unlawful or fraudulent or has any unlawful or fraudulent purpose or effect;</p>
                <p>5.1.3.	to send, knowingly receive, upload, download, use or re-use any material which does not comply with our User Conduct and Content Standards in paragraph 8.1 below; </p>
                <p>5.1.4.	to send any unsolicited commercial communications (spam); or</p>
                <p>5.1.5.	to knowingly transmit or introduce viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful and designed to adversely affect the operation of any computer software or hardware.</p>
                <p>5.2.	You also agree not to access without authority, interfere with, damage or disrupt:</p>
                <p>5.2.1.	any part of this Website;</p>
                <p>5.2.2.	any equipment, network or server on which this Website is stored; </p>
                <p>5.2.3.	any software used in the provision of this Website; or </p>
                <p>5.2.4.	any equipment, network or software owned or used by any third party.</p>
                </div>
                    <h2>6.	INTERNATIONAL USE</h2>
                <div class="indented">
                <p>6.1.	This Website and its content and services are provided from the United Kingdom. If you choose to access this Website from locations outside the United Kingdom, you do so at your own risk and we make no representations that the content and services on this Website are lawful to use or available for use in locations outside the United Kingdom.</p>
                </div>
                    <a name="standards"></a>
                <h2>7.	ADVERTISING</h2>
                <div class="indented">
                <p>7.1.	This Website may contain advertising. By using this Website and the various services which we make available through this Website, you agree that:</p>
                <p>7.1.1.	we may place such advertising on this Website;</p>
                <p>7.1.2.	unless you opt-out in accordance with our Privacy Policy, we may send you by email or message to your account information containing advertisements or promotions for goods and/or services whether supplied by us or third parties selected by us; and</p>
                <p>7.1.3.	such advertising may be targeted to the content of the information on this Website, information on user profiles or other information which we may hold about you.</p>
                <p>7.2.	The manner, mode and extent of advertising on this Website is subject to change without notice.</p>
                <p>7.3.	The advertisers are responsible for ensuring that material submitted for inclusion on this Website complies with relevant laws and codes. We will not be responsible to you for any error or inaccuracy in any advertising material.</p>
                </div>
                    <h2>8.	USER CONDUCT AND CONTENT STANDARDS</h2>
                <div class="indented">
                <p>8.1.	These conduct and content standards apply to any and all images, drawings, video, audio, text, lists and other content you upload to, display on, or distribute or otherwise publish through, this Website (“User Content”) and your use of this Website.</p>
                <p>8.2.	You must not upload, post, email or otherwise transmit any User Content that:</p>
                <p>8.2.1.	is libellous, defamatory, obscene, abusive or otherwise violates any law;</p>
                <p>8.2.2.	infringes any patent, trademark, database right, trade secret, copyright or other proprietary right of any party;</p>
                <p>8.2.3.	you do not have the right to transmit under any law or contractual relationship (such as confidential information);</p>
                <p>8.2.4.	contains any unsolicited or unauthorised advertising, promotional materials, solicitation of funds, spam, chain letter, junk mail or any other form of solicitation for goods or services except in those areas of this Website that are clearly designated for such purpose;</p>
                <p>8.2.5.	contains viruses or any other codes, files or programs designed to damage, interrupt, destroy or limit the functionality of any computer software, hardware or telecommunications equipment; or</p>
                <p>8.2.6.	is pornographic or sexually explicit.</p>
                <p>8.3.	User Content must not:   </p>
                <p>8.3.1.	be likely to deceive any person or be made in breach of any legal duty owed to a third party or promote any illegal activity;</p>
                <p>8.3.2.	be used to impersonate any person, or to misrepresent your identity or affiliation with any person or give the impression that it emanates from us, if this is not the case; or</p>
                <p>8.3.3.	advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</p>
                <p>8.4.	You shall be civil and show respect for other users. You shall not interfere with another's enjoyment of this Website. You may not target another to cause distress, embarrassment, unwanted attention or other discomfort or invade another’s privacy. </p>
                <p>8.5.	Whilst we encourage lively discussion in this Website's groups, reviews and discussion boards, personal attacks are not allowed. Under no circumstances may you attack a person based on the person's race, national origin, ethnicity, religion, gender, sexual orientation, disability, age or other identification.</p>
                <p>8.6.	We reserve the right, without obligation, to monitor, moderate, edit or remove any content that you upload to this Website and to vet or screen users of this Website. However, you acknowledge that you use this Website at your own risk and you are responsible for the information you post on this Website.</p>
                <p>8.7.	We have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to this Website is defamatory, or constitutes a violation of any of their rights including without limitation intellectual property rights or right to privacy or is otherwise unlawful.</p>
                </div>
                    <h2>9.	USER CONTENT LICENCE</h2>
                <div class="indented">
                <p>9.1.	We do not claim any ownership rights in your User Content. After uploading your User Content to this Website, you continue to retain all ownership rights in such User Content and you continue to have the right to use your User Content in any way you choose.</p>
                <p>9.2.	By uploading any User Content to or on this Website, you grant us a perpetual, royalty free, worldwide, sub-licensable, non-exclusive, irrevocable licence to use, reproduce, distribute, perform, display or electronically transmit the User Content, whether in its original form or as adapted by us, on this Website and to our associated companies, advertising networks, distribution partners, affiliates and third party service providers.</p>
                <p>9.3.	You agree that you have the full power and authority to grant the licence in paragraph 9.2.</p>
                <p>9.4.	We may sub-license any and all of the rights licensed under paragraph 9.2 to third parties including any of our associated companies, advertising networks, distribution partners, affiliates and third party service providers.</p>
                <p>9.5.	You agree to waive any moral rights you have in User Content (including the right to be identified as the author) so that we may adapt the User Content freely and without restriction.</p>
                <p>9.6.	We may display advertisements relating to or in connection with your User Content and use your User Content for advertising and promotional purposes. You acknowledge and agree that your User Content may be included on websites and advertising networks, distribution partners, affiliates and third party service providers.</p>
                </div>
                    <h2>10.	CONTENT STORAGE</h2>
                <div class="indented">
                <p>10.1.	We reserve the right to establish general practices and limitations regarding the storage of content on this Website, including without limitation the maximum number of days that messages, in-mails, postings or other content will be retained by us, the maximum number of messages or in-mails that may be sent by or received by an account and the maximum size of messages, in-mails, postings or other contents.</p>
                <p>10.2.	We shall not be held responsible or liable for the deletion or failure to store any messages, communications or other content maintained or transmitted by or under your account or any other part of this Website.</p>
                </div>                   
                     <h2>11.	INTERACTIVE  SERVICES</h2>
                <div class="indented">
                <p>11.1.	We may provide interactive services on this Website, including without limitation:</p>
                <p>11.1.1.	forums for discussion of issues of interest to the users of this Website and where users can post their observations and comments on designated topics;</p>
                <p>11.1.2.	social networking services where registered members can create online personal profiles and interact and share information with other members;</p>
                <p>11.1.3.	sharing of information by which users can post comments, reviews, updates, links, news, activities, quotes, questions, messages, photos, videos and other information to their profile or parts of this Website;</p>
                <p>11.1.4.	interactive applications such as mail, messaging, discussion boards, job boards, a search and find feature, a quiz feature, a poll feature, a Q&A feature, a create a style feature, a create a sequence feature and a quotes feature. </p>
                <p>11.2.	Any use of our interactive services must comply with our User Conduct and Content Standards, set out in paragraph 8.1. We have the right to remove any material you upload or posting you make on this Website if in our opinion such material does not comply with our User Conduct and Content Standards. We also have the right, without obligation, to monitor disputes between you and other users and/or to restrict, suspend or close your account if in our opinion doing so is necessary to enforce these Terms of Use.</p>
                <p>11.3.	By submitting ideas, suggestions, information or any other content to this Website, you acknowledge that any material you upload to this Website will be considered non-confidential and free from any similar obligation or restriction. You acknowledge that the information and ideas that you post to this Website will be seen by other users. We cannot guarantee that other users will not use the information and ideas that you share on this Website, and we are not responsible for another user’s misuse or misappropriation of any such information. You agree that any loss or damage of any kind that you incur as a result of the use of any messages, content or material that you upload, post, transmit, display or otherwise make available through this Website is solely your responsibility.</p>
                <p>11.4.	You are responsible for your interactions with other users of this Website. We reserve the right to limit the number of connections you have to other users and prohibit you from contacting other users through the interactive services or otherwise limit your use of the interactive services.</p>
                </div>
                    <h2>12.	LINKING TO THIS WEBSITE</h2>
                <div class="indented">
                <p>12.1.	You may link to this Website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
                <p>12.2.	This Website includes the ability to share links to Website Content via certain third party social networks. In order to do so, you must have an active account with such social networks. Your use of such social networks will be subject to the terms and conditions imposed by such third parties. You acknowledge that we have no control over and are not responsible for their terms and conditions.</p>
                <p>12.3.	Other than via certain third party social networks as described in paragraph 12.2 above, you must not establish a link from any website that is not owned by you. This Website must not be framed on any other Website, nor may you create a link to any part of this Website other than the home page. </p>
                <p>12.4.	We reserve the right to withdraw linking permission without notice. The website from which you are linking must comply in all respects with the User Content and Content Standards in paragraph 8.</p>
                <p>12.5.	If you wish to make any use of material on this Website other than set out in the above provisions, please address you request to legal@yogaclicks.com.</p>
                </div>
                    <h2>13.	LINKS AND THIRD PARTY SERVICES</h2>
                <div class="indented">
                <p>13.1.	This Website may contain links to other websites. These links are provided for your information only and are not owned or operated by us. We have no control over the contents of those websites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. Any reference to a third party and/or its services on this Website does not indicate our endorsement, recommendation or approval of such a third party and/or services, nor does it indicate any third party's endorsement, recommendation or approval of our Website and/or its services.</p>
                <p>13.2.	We may make available through this Website certain services provided by third parties. These include without limitation classes, workshops, events, venues, teachers and training. To gain access to these services, you must deal with these parties direct.</p>
                <p>13.3.	We do not accept any responsibility or liability for contracts for the supply of goods or services formed with a third party through this Website or as a result of visits made by you. The terms and conditions that will govern these contracts is a matter of dealings between you and the third party.</p>
                <p>13.4.	Any reference to a third party and/or its services on this Website is provided for your information only. It does not indicate our endorsement, recommendation or approval of such third party and/or services.</p>
                <p>13.5.	We have no control over the contents of those third party websites or the performance of their services. Your dealings with, and interest in, services, merchants or promotions found on or via this Website are solely between you and the person with whom you are dealing. Accordingly, you use these services at your own risk and we accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>
                </div>
                    <a name="disclaimers"></a>
                <h2>14.	COMMUNICATIONS</h2>
                <div class="indented">
                <p>14.1.	We do not monitor, moderate, edit or censor any User Content, although we reserve the right to do so. If you wish to complain about any User Content uploaded or posted to this Website, please contact us at legal@yogaclicks.com. We will then review your complaint and decide whether the User Content complies with our Terms of Use and, in particular, our User Conduct and Content Standards set out in paragraph 8 above. If it does not, we will deal with the matter as described in paragraph 18 below. We will inform you of the outcome of our review within a reasonable time of receiving your complaint.</p>
                <p>14.2.	If you have any concerns about other material which appears on this Website, please contact us at legal@yogaclicks.com.</p>
                <p>14.3.	You use this Website at your own risk and we are under no obligation to provide you with any technical support or to correct any errors, although we reserve the right to do so. If you experience any difficulty using this Website, you can contact us by email at legal@yogaclicks.com and we shall endeavour to respond to your enquiry.</p>
                <p>14.4.	From time to time, we may send to you by email any information about changes or additions to this Website or about any of our products or services.</p>
                </div>
                    <h2>15.	DISCLAIMERS</h2>
                <div class="indented">
             
                    <p> 15.1.	We provide this Website and its contents and services on an “as is” and “as available” basis with all faults. The material on this Website is provided without any guarantees, conditions or warranties as to its accuracy. Any contents and materials on this Website are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to this Website or by anyone who may be informed of any of its contents.</p>
                    <p> 15.2.	You acknowledge that yoga is a form of physical and mental activity that bears a risk of injury both physical and psychological. You acknowledge that it is your sole responsibility to judge your physical and mental capabilities and fitness to engage in such activity.</p>
                    <p> 15.3.	When using any content on this Website or on any linked or affiliated website (including without limitation, any advice, instructions or demonstrations regarding yoga poses, searching for and selecting classes, activities and teachers) it is your responsibility to ensure that you do not exceed the limit of your physical and mental skills or abilities. For example, you should always select the appropriate level of classes for your skills and abilities, and you should never attempt yoga poses that may exceed your capabilities or which could cause you injury.</p>
                    <p> 15.4.	Some of the advice or information posted or uploaded by users of this Website may suggest physical adjustments, adaptations of technique or the use of equipment and it is your sole responsibility to determine if any such suggestions are appropriate for your level of physical and mental capabilities. You acknowledge that you have no obligation to follow any of the suggestions, comments, reviews, instructions on how to do yoga poses or any other information on this Website and that if you choose to, you do so entirely at your own risk.</p>
                    <p> 15.5.	You expressly acknowledge and agree that neither we, nor any of our directors, employees, shareholders or affiliates have any responsibility or liability for assessing your suitability to engage in any physical or mental activity or to follow any advice, recommendations or information on this Website. You should always seek the advice of a doctor before beginning any physical exercise.</p>
                    <p> 15.6.	We are not medical professionals, and we cannot give you any medical advice, diagnosis or treatment. The content and services on this Website are provided to you for information purposes only and do not amount to or act as a substitute for professional medical advice, diagnosis or treatment.</p>
                    <p> 15.7.	You should always seek the advice of a doctor or suitably qualified health professional if you have any questions or concerns about your medical health or condition. You should never delay seeking or disregard medical advice based on any information on this Website.</p>
                    <p> 15.8.	YogaClicks does not give medical advice in relation to any individual case or patient.  YogaClicks does not warrant that the information found on our site will meet your individual health or medical requirements.</p>
                    <p> 15.9.	If you are a medical or health professional you can use YogaClicks for general information purposes.  However, you should not rely on material found on YogaClicks and we do not accept any responsibility if you do.</p>
                    <p> 15.10.	User stories are their own personal stories and do not substantiate objective claims about the effectiveness of yoga, meditation or mindfulness.</p>
                    <p> 15.11.	YogaClicks does not warrant that any of the teachers, venues and teacher training organisations found on our site will meet your health or medical requirements.</p>
                    <p> 15.12.	Always check with individual teachers, venues and teacher training organisations to verify their current accreditation/registration/qualification status.</p>
                    <p> 15.13.	We are not responsible for any User Content or content uploaded or transmitted by third parties. You acknowledge that we have no control over and no duty to take any action regarding: what content you access via this Website; what affect such content may have on you; how you may interpret or use such content; or what actions you may take as a result of having been exposed to such content.</p>
                    <p> 15.14.	We are not responsible for any goods or services advertised, offered or otherwise referred to by third parties on or linked to this Website. We are not responsible for testing or approving, and we do not warrant, guarantee, endorse or recommend, any goods or services advertised, offered or otherwise referred to by third parties on or linked to this Website. We are not responsible for monitoring or dealing in any way in transactions between you and third party goods or service providers.</p>
                    <p> 15.15.	We are not responsible and make no representations or warranties for the delivery of any user messages, postings or transmission of any User Content sent through this Website.</p>
                    <p> 15.16.	We have no obligation to verify the identity of any individuals registering to this Website and its goods or services. We have no obligation to monitor the use of this Website and its services by other users. As such, we disclaim all liability for identity theft or any other misuse of your identity or information.</p>
                    <p>  15.17.	We make no guarantee that your use of this Website and its services will not infringe the rights of any third parties. Any material, content, information or technology described or used on this Website may be subject to intellectual property rights owned by third parties who have licensed such material, content, information or technology to us.</p>
                    <p> 15.18.	We make no guarantee that the information stored on our equipment is secure and, accordingly, we will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other content stored on our equipment, transmitted over networks accessed by this Website, or otherwise connected with your use of this Website.</p>
                    <p> 15.19.	We do not guarantee that you will be able to access or use this Website at times or locations of your choosing.</p>
                    <p> 15.20.	To the maximum extent permitted by applicable law, we expressly exclude all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity, including without limitation implied conditions and warranties that this Website and its contents (including User Content) are of satisfactory quality, accurate, complete, current, not misleading, fit for a particular purpose or non-infringing. We therefore disclaim any and all liability (whether in contract, tort (including negligence) or otherwise) and responsibility arising from any reliance placed by any visitor on this Website and its contents (including User Content) or by anyone who may be informed of any of its contents.</p>
                    <p> 15.21.	If you are dissatisfied or harmed by this Website or anything connected to it, your sole and exclusive remedy will be to close your account and cease the use of this Website. This does not affect any statutory rights you may have as a consumer.</p>




               </div>
                     <h2>16.	LIABILITY </h2>
                <div class="indented">
                <p>16.1.	Our total liability (whether in contract, tort (including negligence) or otherwise) arising out of or in connection with this Website or in connection with the use, inability to use, or results of the use of this Website, any websites linked to it and any materials posted on it shall be limited to the greater of (i) an amount equal to any fees paid by you to us for use of the Website during the 12 months immediately prior to written notification of the claim, and  (ii) £10.</p>
                <p>16.2.	We shall not in any event have any liability to you (whether in contract, tort (including negligence) or otherwise) for any:</p>
                <p>16.2.1.	loss of revenue, profits, goodwill, business or anticipated savings or for wasted management or office time; or</p>
                <p>16.2.2.	indirect, special or consequential loss or damage whatsoever or howsoever incurred.</p>
                <p>16.3.	You acknowledge and accept that this limitation of liability is part of the bargain between you and us, and without it, the stringency of the Terms of Use and the price charged for use of the Website would increase significantly.</p>
                <p>16.4.	Nothing in these Terms of Use shall exclude or limit any liability for (i) death or personal injury resulting from our negligence, (ii) fraud or fraudulent misrepresentation or (ii) any other liability which cannot be excluded or limited under applicable law.</p>
                </div>
                    <h2>17.	INDEMNITY </h2>
                <div class="indented">
                <p>17.1.	You shall indemnify us and hold us harmless from all damages, liabilities, costs, claims and expenses that arise out of the User Content you submit, post or transmit via this Website, or from your use or misuse of this Website and any Website Content or the use or misuse by any person for whom you are responsible or to whom you have disclosed your account details (whether inadvertently or not) or from your breach of these Terms of Use.</p>
                </div>
                    <h2>18.	SUSPENSION AND TERMINATION</h2>
                <div class="indented">
                <p>18.1.	Failure to comply with these Terms of Use and, in particular, our User Conduct and Content Standards set out in paragraph 8 above constitutes a material breach of the terms upon which you are permitted to use this Website. If in our opinion you fail to comply with these Terms of Use, it may result in our taking all or any of the following actions at our discretion:</p>
                <p>18.1.1.	immediate, temporary or permanent withdrawal of your right to use this Website;</p>
                <p>18.1.2.	immediate, temporary or permanent removal of any posting or material uploaded or otherwise transmitted by you to this Website;</p>
                <p>18.1.3.	issue of a warning to you;</p>
                <p>18.1.4.	legal action against you including proceedings for reimbursement of any and all damages and costs on an indemnity basis (including without limitation reasonable administrative and legal costs) resulting from the breach; or</p>
                <p>18.1.5.	disclosure of such information to law enforcement authorities or third party complainants as we reasonably feel is necessary or required.</p>
                <p>The responses described in this paragraph are not limited, and we may take any other action we reasonably deem appropriate.</p>
                <p>18.2.	We may, in our absolute discretion, suspend or terminate your access to all or part of this Website and the content and services available through it with or without notice. We may also terminate accounts that are inactive for more than six months or should the registration information you provided to us prove to be false or misleading.</p>
                <p>18.3.	Upon and following such termination or suspension:</p>
                <p>18.3.1.	the licence to use this Website and its content and services shall immediately terminate;</p>
                <p>18.3.2.	we may deny you access to your account and services provided through this Website; and</p>
                <p>18.3.3.	we may deny you access to any information you have stored through this Website and this may not be retrieved later. You will not be able to recover any data on a deactivated account. We therefore recommend that you keep a copy of any information or User Content you store through this Website, if you want to be able to permanently access such information or User Content.</p>
                <p>18.4.	You may at any time close your account and cease the use of this Website.</p>
                </div>
                    <h2>19.	THESE TERMS OF USE</h2>
                <div class="indented">
                <p>19.1.	These Terms of Use constitute the entire agreement between you and us for the use of this Website and the contents and services available through it.</p>
                <p>19.2.	We may revise these Terms of Use at any time without notice by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Any changes to the Terms of Use will be effective immediately upon amendment of this page. If you use this Website after this, you will be taken to have agreed to the changes.</p>
                <p>19.3.	If we do not exercise or enforce any legal right or remedy which may be available to us, this will not be taken to be a formal waiver of our rights.</p>
                <p>19.4.	If any part of these Terms of Use shall be unlawful or unenforceable for any reason, this shall not affect the remainder of these Terms of Use and that part shall be limited or eliminated to the minimum extent necessary so that these Terms of Use shall otherwise remain in full force and effect.</p>
                <p>19.5.	You are individually bound by these Terms of Use even if you are using this Website on behalf of a company or other legal entity, regardless of whether that entity has any separate agreement with us.</p>
                <p>19.6.	In the event that we are acquired by, or merge with, a third party, we may transfer any or all of our rights and obligations under these Terms of Use to that third party or the newly merged entity.</p>
                <p>19.7.	All legal notices in relation to this Website or these Terms of Use should be given in writing and addressed to YogaClicks Limited, 2nd Floor, 12 Upper King Street, Norwich, Norfolk, England, NR3 1HA.</p>
                </div>
                    <h2>20.	JURISDICTION AND APPLICABLE LAW</h2>
                <div class="indented">
                <p>20.1.	The English courts will have exclusive jurisdiction over any claim arising from, or related to, this Website although we retain the right to bring proceedings against you for breach of these terms in your country of residence or any other relevant country.</p>
                <p>20.2.	These Terms of Use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.</p>
                </div>
                    <h2>CONTACT US</h2>

                    <p>Questions, comments and requests regarding Terms of Use should be addressed to:</p>
                    <p>YogaClicks Limited</p>
                    <p>Address: 2nd Floor, 12 Upper King Street, Norwich, Norfolk, England, NR3 1HA</p>
                    <p>Telephone: (+44) (0) 1603 613 653</p>
                    <p>Email: <a href="mailto:legal@yogaclicks.com">legal@yogaclicks.com</a></p>
                    <p>Thank you for using <a href="http://www.yogaclicks.com">www.yogaclicks.com</a>.</p>
                    <p>Terms of Use effective as of 23 January 2013.</p>
   
           </article>
            
        </section>

	</div>

</div>
