@{
    ViewBag.Title = "BECOME A YOGACLICKS’ AMBASSADOR";
    Layout = "~/Views/Layout/layout.cshtml";
    ViewBag.SiteSection = "'YCAmbassador-visited' : 'true'";
}
@section LeftNav{
  @Html.Partial("left-nav-static-footer")
}
@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}





<div class="White-overlay" style="display:none;"></div>

<div style="margin-left: -15px;margin-right:-15px" class="nopadding hidden-sm hidden-md hidden-lg">
    <section class="filters greyScale" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu addpadding">
                <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon"></span></a>
                <h1>BECOME A YOGACLICKS’ AMBASSADOR</h1>
            </div>
        </div>
    </section>
</div>





<div class="row nopadding">
    <div class="col-xs-12 QLinks " style="min-height:3700px;">
        <br />
        <div class="QLinks">
            <h1 class="hidden-xs">BECOME A YOGACLICKS’ AMBASSADOR</h1>
        </div>

        <img class="img-responsive" src="~/Images/What-you-can-do/5ways.png" /><br />




        <strong>
            SHARE THE INSIDE TRACK TO YOUR #YOGAHOOD
        </strong>

        <br /><br />
        Tell everyone what’s happening on your side of town – from the hot yoga studios to the cool juice bars. <br /><br />

        You don't need to be great at writing – tell us in pictures if you prefer.
        <br />

        <br />


        <div class="row nopadding">
            <div class="col-xs-6 no-padding">
                <a target="_blank" href="http://blog.yogaclicks.com/2014/06/19/local-guide-yoga-in-norwich/"><img class="img-responsive" style="padding-right:5px;" src="~/Images/What-you-can-do/YCAMB1.png" /></a>
                <p>
                    Read our guide to Norwich,
                    YogaClicks' hometown »
                </p>
            </div>
            <div class="col-xs-6 no-padding">
                <a target="_blank" href="http://blog.yogaclicks.com/2012/12/29/a-little-guide-to-mysore/"><img class="img-responsive" style="padding-left:5px;" src="~/Images/What-you-can-do/YCAMB2.png" /></a>
                <p style="padding-left:5px;"> Read Kevin Brackley's guide to Mysore »</p>
            </div>
        </div>







        <br /><br />
        <p><strong>WRITE FOR OUR BLOG </strong></p>


   



        <p>From what you’re thinking to what you’re wearing – share it with our yoga community</p>


        <a target="_blank" href="http://blog.yogaclicks.com/2014/11/13/choosing-your-yoga-teacher-training-heres-the-ten-must-ask-questions/"><img class="img-responsive" src="~/Images/What-you-can-do/YCAMB3.png" /></a>




        <p>Ten questions to ask a Teacher Training school before signing up</p>

        <div class="row nopadding">
            <div class="col-xs-6 no-padding">
                <a target="_blank" href="http://blog.yogaclicks.com/2015/10/19/what-makes-a-good-clinical-study/"><img class="img-responsive" style="padding-right:5px;" src="~/Images/What-you-can-do/YCAMB4.png" /></a>
                <p>
                    What defines a good clinical study?
                </p>
            </div>
            <div class="col-xs-6 no-padding">
                <a target="_blank" href="http://blog.yogaclicks.com/2014/10/20/be-inspired-to-create-a-home-yoga-practice/"><img class="img-responsive" style="padding-left:5px;" src="~/Images/What-you-can-do/YCAMB5.png" /></a>

                <p style="padding-left:5px;">
                    How to create a home yoga
                    practice
                </p>
            </div>
        </div>

        <br /><br />


        <p><strong>BECOME A YOGACLICKS’ ROVING REPORTER </strong></p>

 

        <p>Going to a yoga gathering or on a yoga holiday? Create a photo diary and share the #PoweredByYoga love with our community.</p>


        <div class="row nopadding">
            <div class="col-xs-6 no-padding">
                <a target="_blank" href="http://blog.yogaclicks.com/2015/07/21/yogaclicks-at-latitude-festival/"><img class="img-responsive" style="padding-right:5px;" src="~/Images/What-you-can-do/YCAMB6.png" /></a>
                <p>Check out our Latitude Festival diary</p>
            </div>
            <div class="col-xs-6 no-padding">
                <a target="_blank" href="http://blog.yogaclicks.com/2015/08/03/yoga-garden-party-2015/"><img class="img-responsive" style="padding-left:5px;" src="~/Images/What-you-can-do/YCAMB7.png" /></a>

                <p style="padding-left:5px;">What we did at the Yoga Garden Party</p>

            </div>
        </div>




        <br /><br />

        <p><strong>Wear the t-shirt</strong></p>

        <p>
            You’ll convert people to yoga with just one look in our #PoweredByYoga tanks and tees.
        </p>
        <a target="_blank" href="http://www.yogaclicks.store">
            <img class="img-responsive" src="~/Images/What-you-can-do/lucy.png" />
        </a>
    

        <a target="_blank" class="pinkColour" href="http://www.shopyour.yoga">Shop our #PBY tanks and tees »</a>

        <br /><br />
        <p style="margin-top: 20px;"><strong>USE THE HASHTAG</strong></p>

        <p>Tag your posts on social media with #PoweredByYoga so we can repost you!</p>


        <script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/6c90cfb60ca428da8600e5a0aa309bc6289f93e1.html" id="instansive_6c90cfb60c" name="instansive_6c90cfb60c" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

        <br /><br /><br /><br />


        <br /><br /><br /><br />
    </div>
</div>
