@model dynamic

@{
    ViewBag.Title = "Advertise with us";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div class="advertiseSections">
    <section class="advertiseSection firstSection">
        <div class="advertise-section-one">
            <div class="text">
                <h2>So, you want to reach out to our growing yoga community?</h2>
                <h2>Excellent idea - two options</h2>
            </div>
            <div class="browserImage">
                <img src="/images/advertise-sections/advertise-first.jpg" />
            </div>
        </div>
    </section>
    <section class="advertiseSection secondSection">
        <div class="advertise-section-two">
            <div class="browserImage">
                <img src="/images/advertise-sections/advertise-second.jpg" />
            </div>
        </div>
    </section>
    <section class="advertiseSection thirdSection">
        <div class="row">
            <div class="text">
                <h2>Interested in looking this</h2>
                <span class="fabulous">Fabulous?</span>
                <p>
                    We don't blame you.<br />
                    Email <a href="mailto:advertise@yogaclicks.com?subject=Sponsor%20YogaClicks">advertise@yogaclicks.com</a> for our rates.
                </p>
            </div>
        </div>
    </section>
</div>
