@model dynamic

@{
    ViewBag.Title = "Join the Yogaclicks Community | YogaClicks";
    ViewBag.Description = "Join the YogaClicks community! Create a profile and get a personal newsfeed. Create or join groups and hang out in the yogahood.";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<div id="content-slider" class="content-slider">

	<div class="content-col" id="scroll">

		<section class="page-content">
        
        	<article id="static">
                <header>
                    <h2>Advertise with us</h2>
                </header>
            </article>
            
        </section>

	</div>

</div>
