<div class="successLightbox">
    <h3 class="cb">
        That's the basics done.
    </h3>
    <p>It’s now listed under the "Schedule" tab on your professional page.</p>
    <p>
        If you added a Venue that you own you’ll find it under your Professional Incarnations – on the grey filter column.
    </p>

</div>