<div id="navwrap">
    
    <section class="filters" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu">
                <nav class="filter text-justify centerAlign ">

                    <span id="right-menu-close"  title="Close" class="close filter-icon pull-right hidden-sm hidden-md hidden-lg" aria-label="Close"><span aria-hidden="true">&times;</span></span>

                    <h3>Quick links</h3>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("our-story", "static")">Our story</a>
                        <a class="list-group-item" href="@Url.Action("privacy-policy", "static")">Privacy</a>
                        <a class="list-group-item" href="@Url.Action("terms-of-use", "static")">Terms of use</a>
                    </div>


     
                </nav>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">

    $("#right-menu-close").click(function () {

        $("#right-nav").fadeToggle("fast");
        $(".dark-overlay").fadeToggle("slow");

    });

</script>
