@{
    ViewBag.Title = "Permission Denied";
    Layout = "~/Views/Layout/Error.cshtml";
}

<div id="content-slider" class="content-slider">
    <div class="profile-strip content-col" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2>Permission Denied</h2>
                <p>You do not have permission to perform this action.</p>
            </article>
        </div>
    </div>
</div>