@{
    ViewBag.Title = "StorySent";
    Layout = "~/Views/Layout/Modal.cshtml";
}

<h2 class="greenHeader">Study added</h2>
<hr />
<br /><br />
<h3 class="blackSubHeader">
    Your study has been sucessfully added
</h3>

<div class="wizard-footer-buttons-container">
    <div class="wizard-footer-nav-container">
        <a href="javascript:parent.$.fancybox.close();" class="button pink large">Close</a>
    </div>
</div>
<div class="cb"></div>
