@{
    ViewBag.Title = "CreateAProfessional";
    Layout = "~/Views/Layout/Modal.cshtml";
}

<h2 class="greenHeader">Create a profile</h2>
<hr />
<br /><br />
<h3 class="blackSubHeader">
    Let's start with your professional page(s)
    <br /><br />
    This will help you build your yoga community
</h3>

<br /><br /><br /><br/>

<div class="wizard-footer-buttons-container">
    <a href="javascript:parent.$.fancybox.close();" class="textLink fl">Cancel</a>
    <div class="wizard-footer-nav-container">
        <a href="@Url.Action("Create")" class="button pink large">Next</a>
    </div>
</div>
<div class="cb"></div>
