<div class="successLightbox">
<h3 class="cb">
    That’s the basics done.
</h3>
<p>
    It’s now listed in your Professional Incarnations – on the grey filter column. <br />
    Click to edit and add info. <br />
</p>
</div>