<div class="successLightbox">
    <h3 class="cb">
        All done.
    </h3>
    <p>
        It's now listed under the "Schedule" tab on your organisation profile.<br />
        Click to edit and add info.
    </p>
</div>