@model Clicks.Yoga.Portal.Models.Media.MediaPostTypePartialModel

@foreach (var resource in Model.Resources)
{
    <div class="embed-responsive embed-responsive-16by9">


 
        @Html.Raw(string.Format(resource.Content, 403, 251))
    </div>
}