@{
    ViewBag.Title = "Create Account Complete";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.BodyClass = "register-page";
}
<div class="forgotPasswordBg">
    <div class="container-960">
        <div class="manual-register">
            <h2>Thanks for registering with YogaClicks</h2>
            <span>We've sent you an e-mail containing a link to validate your address. If you can't find the e-mail, remember to check your junk mail.</span>
        </div>
    </div>
</div>
