.mainlinkcolour > li > a:hover {
    background-color: transparent !important;
}
.mainlinkcolour > li > a:focus {
    background-color: transparent !important;
}


@font-face {font-family: "MuseoSansW01-Rounded300";
    src: url("/Fonts/1b4cd06b44538d529084b3599f708643.eot");
    src: url("/Fonts/1b4cd06b44538d529084b3599f708643.eot?#iefix") format("embedded-opentype"),
    url("/Fonts/1b4cd06b44538d529084b3599f708643.woff2") format("woff2"),
    url("/Fonts/1b4cd06b44538d529084b3599f708643.woff") format("woff"),
    url("/Fonts/1b4cd06b44538d529084b3599f708643.ttf") format("truetype"),
    url("/Fonts/1b4cd06b44538d529084b3599f708643.svg#MuseoSansW01-Rounded300") format("svg");
}






    #login-container{padding:10px 5px 0!important;}



     html {
         box-sizing: border-box;
     }

    *,
    *:after,
    *:before {
        box-sizing: inherit;
    }

    html,
    body {
        height: 100%;
        font-family: "MuseoSansW01-Rounded300", "Source Sans Pro", sans-serif;
    }
  
    body {
        margin: 0;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    section {
        font-size: 2rem;
    
    }

    .Quick-navigation {
        position: fixed;
        z-index: 5;
        margin: 0;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .Quick-navigation-item {
        /*color: rgba(0, 0, 0, 0.4);*/
        text-decoration: none;
        font-size: 1.3em;
        /*-webkit-transition: color 0.3s;
        transition: color 0.3s;*/
        padding: 0.5em;
        display: block;
    }

    .Quick-navigation-item:hover,
    .Quick-navigation-item.current {
        color: #242424;
    }

    .Scroll-progress-indicator {
        will-change: opacity, transform;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        left: -10px;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        opacity: 0;
        padding: 2em;
        -webkit-transform: translateX(200%) translateY(-50%);
        transform: translateX(200%) translateY(-50%);
        background-color: rgba(0, 0, 0, 0.1);
    }

    .Scroll-progress-indicator.visible {
        -webkit-transform: translateX(-100%) translateY(-50%);
        transform: translateX(-100%) translateY(-50%);
        opacity: 1;
    }

    #A {
       /*background: url('/Images/Homepage/Homepageback.jpg') no-repeat center center fixed;*/ 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   background-position: center center !important;
    background-attachment: scroll !important;
    background-color:#FFF;

    }

    #B {
        background-color: #FFF;
    }

    #C {
        background-color: #FFF;
    }

    #D {
        background-color: #FFF;
    }

    #E {
        background-color: #FFF;
    }

    .Scroll-to-top {
        position: fixed;
        right: 11px;
        bottom: 70px;
        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.5rem;
        padding: 0.5em;
        cursor: pointer;
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        outline: none;
    }

    .Scroll-to-top.visible {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        z-index: 4;
    }

    .Scroll-to-top:hover {
        color: rgba(255, 255, 255, 0.9);
    }

    .FindBan {


        /*background-image:
                        linear-gradient(   to top left, 
                     background-color: #73679D;                              #8274ae ,
                                           #8f5c8c
    );*/
         color: #444; 
         border-bottom:solid thin #444;
         background-color:white;
        max-width: 1180px;
       
        padding: 8px;  

     margin-bottom:10px;
        font-size: 2rem;
        /*font-weight: 300;*/
            font-family: 'Playfair Display', serif !important;
    
        z-index: 1;
 
    }
    .Scroll-to-top {
        font-family: 'Fjalla One', sans-serif;
    }
    .homeICON {
        width: 100px;
    }

    .homepagepopupperexpand {
        height: 265px !important;
    }


    @media(min-width:1200px) {
        .modal-lg {
            width: 70%;
        }
    }

    
        .navbar-header {

            background: none !important;
        }



    @media(max-width:992px) {
        .HomepageCaption {
              font-size: 15px!important;
            color: #333 !important ;
        }

           #A {
        margin-top:50px;
    }
       .login-links a {
            font-size: inherit !important;
        }

        .MapBan, .MedBan, .ShopBan, .FindBan {
            font-size: 1.5rem !important;
        
        }

        .Numhome {
            font-size: 45px !important;
        }

        .homepagetitle {
            font-size: 20px !important;
        }

        .homenavaddpadding {
            padding: 1.5% !important;
        }

        .homepagepopupper {
            height: auto !important;
        }
    }

    @media(max-width:767px) {
         .navbar-custom .navbar-nav > li > a {

        color: white !important;
    }
       .HomepageCaption {
              font-size: 13px!important;
            color: rgba(255, 255, 255, 0.9) !important;
        }
        .centerhomeblock {
            padding-top: 20px !important;
        }
        .menusm {
            font-size: 14px !important;
            width: 100% !important;

        }
        .headermainClear .loginReveal {
            right: 0px !important;

        }

    
#bs-example-navbar-collapse-1 {
  background-color: #222;
  border-color: #080808;
}
.navbar-custom .navbar-brand {
  color: #9d9d9d;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #9d9d9d;
}
.navbar-custom .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
   color: #fff;
  background-color: #080808;
    margin-right: 0px !important;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #333;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #101010;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}

        .MapBan, .MedBan, .ShopBan, .FindBan {
            
         text-align: center;
         border-top: 1px solid #444;
        }
      
        .homepagetitle {
            font-size: 16px !important;
        }
        .Quick-navigation {

            display: none !important;
        }
    }

    .MapBan {
         color: #444; 
         border-bottom:solid thin #444;
         max-width: 1180px;
        font-family: 'Playfair Display', serif !important;
  
   
     margin-bottom:10px;
        padding: 8px;
        font-size: 2rem;

  

    }

    .MedBan {
              color: #444; 
         border-bottom:solid thin #444;
 max-width: 1180px;
    
     margin-bottom:10px;
        padding: 8px;
        font-size: 2rem;
                font-family: 'Playfair Display', serif !important;
 
    }

    .modal-backdrop.in {
        opacity: 0.85;
    }

    .ShopBan {
                  color: #444; 
         border-bottom:solid thin #444;
     max-width: 1180px;
             font-family: 'Playfair Display', serif !important;
  
     margin-bottom:10px;
        padding: 8px;
        font-size: 2rem;

    }



    @media(max-width:400px) {
    .menusm {
        font-size: 10px !important;
    }
}

    .Login-icon {
        color: white !important;
    }
       .centerhomemenu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
       
        color: #444;
  
  
 
    }
    .centerhomeblock {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
       
        color: #444;
        padding-top:50px;
        padding-bottom:50px;

 
    }
    #B {
          background-color:white;
          z-index:2;
    }
       .centerhomeblockhome2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
       
        color: #444;
        padding: 20px 10px;

        min-height:100vh;
 
    }
    .centercenterblock {
        max-width: 1000px;

        height: 100%;
   
        font-size: 20px;
    }

  
    .centercenterblocknav {
        max-width: 1020px;
        height: 100%;
        font-size: 16px;
        margin: 0 auto;
        align-items: center;
        color: rgb(68, 68, 68);
        text-align: center;
        padding-top: 30px;
    }

 
      .ShopButton {   font-weight: 300;
 border-radius: 0 !important;
        width: 332px;
  
        font-size: 18px; 
   margin: 10px auto !important;
        text-align: center;
   font-family: 'Fjalla One', sans-serif;
              transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        border: 1px solid #444;
        color: #444 !important;
        display: block;
       
    }
    
    .ShopButton:hover {
   
  background-color: #444 !important;
        color: #fff !important;
    }

     .MedsButton {   font-weight: 300;
 border-radius: 0 !important;
        width: 200px;
     
            font-size: 18px; 
   margin: 10px auto !important;
        text-align: center;
font-family: 'Fjalla One', sans-serif;
              transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        border: 1px solid #444;
        color: #444 !important;
        display: block;
       
    }
    
    .MedsButton:hover {
   
  background-color: #444 !important;
        color: #fff !important;
    }


    
       .FindButton {   font-weight: 300;
 border-radius: 0 !important;
        width: 305px;
       
              font-size: 18px; 
   margin: 10px auto !important;
        text-align: center;
font-family: 'Fjalla One', sans-serif;
              transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        border: 1px solid #444;
        color: #444 !important;

       
    }
    
    .FindButton:hover {
   
  background-color: #444 !important;
        color: #fff !important;
    }

.navp {
      display: block;
    margin-top: 20px;
 
}


    .MapButton {   font-weight: 300;
        border-radius: 0 !important;
        width: 200px;
             font-size: 18px; 
   margin: 10px auto !important;
        text-align: center;
font-family: 'Fjalla One', sans-serif;
              transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        border: 1px solid #444;
        color: #444 !important;
        display: block;
       
    }
    
    .MapButton:hover {
   
  background-color: #444 !important;
        color: #fff !important;
    }
    .btnalt {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 55px;
        margin: 0 auto 1em;
        position: relative;
        text-decoration: none;
        vertical-align: middle;
        width: 100%;
    }

    .btnalt span {
        z-index: 20;
    }

    .btnalt:after {
        background-image: none !important;
        background: #41B655 !important;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    .btnalt:hover {
        text-decoration: none;
    }

    .btnalt:hover:after {
        left: 120%;
        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .btnalt:nth-of-type(even) {
        margin-right: 2em;
    }

    .btnalt:nth-of-type(odd) {
        margin-right: 15px;
    }

    .menubaractive {
        position: fixed;
        top: 0;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(68,68,68,0.57);
        -moz-box-shadow: 0px 1px 3px 0px rgba(68,68,68,0.57);
        box-shadow: 0px 1px 3px 0px rgba(68,68,68,0.57);
    }

    .slidebanheader {
      font-family: 'Playfair Display', serif;
        font-weight: 300;
        font-size: 27px;
    }

    .Numhome {
        display: block;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: -42px;
    font-family: 'Playfair Display', serif !important;
        font-weight: 400;
        display: inline;
    }

    .sideminiIcon {
        width: 30px;
        opacity: 0.35;
    }

    .sideminiIcon:hover {
        opacity: 1 !important;
    }

    .sideminiIconactive img {
        opacity: 1 !important;
    }
        .centercenterblock .thumbnail:hover {
    border-color: #444!important;
}     
    .homepagetitle {
        color: #333;
        /*text-shadow: 0px 2px 3px #555;*/
        font-size: 22px;
      
    }
   
    .homepagepopupper {
        display: block;
        color: black;
        background-color: white;
        width: 100%;
        height: 185px;
        position: absolute;
        bottom: 0;
        transition: all 1000ms;
        -webkit-backface-visibility: hidden;
    }
    .homenavaddpadding a{
        color:#444;
    }
      .homenavaddpadding a:hover, a:active , a:visited{
   text-decoration:none;
    }
    .homenavaddpadding {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -45px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .btnalttop {
        border: 2px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        display: inline-block;
        font-size: 25px;
        min-width: 281px;
        padding: 12px;
    }

    .btnalttop:hover {
        text-decoration: none;
        color: rgb(255,255,255);
        background-color: #ffffff;
        background-color: rgba(255,255,255,0.4);
        cursor: pointer;
    }

    .referral{display:none!important}