@{
    ViewBag.Title = "StorySent";
    Layout = "~/Views/Layout/Modal.cshtml";
}

<h2 class="greenHeader">Story submitted</h2>
<hr />
<br /><br />
<h3 class="blackSubHeader">
    Thank you for sharing your story
</h3>
It's now ready to view under 'Your stories'
<div class="wizard-footer-buttons-container">
    <div class="wizard-footer-nav-container">
        <a href="javascript:parent.$.fancybox.close();" class="button pink large">Close</a>
    </div>
</div>
<div class="cb"></div>
