@model Clicks.Yoga.Portal.Models.Teachers.TeacherCreatePlacementModel

@{
    Layout = "~/Views/Layout/Modal.cshtml";
}

<h2 class="greenHeader">Find/add a venue</h2>
<ul class="steps steps3">
    <li class="active"><span>Step 1</span></li>
    <li><span>Step 2</span></li>
    <li><span>Step 3</span></li>
</ul>
<hr />
<div class="scrollableiFrame">
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Venue, "Enter the name of the venue")
        <div class="venueWrap">
            @Html.EditorFor(m => m.Venue)
        </div>
        <hr />  
        <a href="javascript:parent.$.fancybox.close();" class="textLink fl">Cancel</a>
        <button class="pink large button fr" type="submit">Next</button>
        <div class="cb"></div>
    }
</div>