@using Clicks.Yoga.Domain
@model Clicks.Yoga.Portal.Models.Friends.FriendButtonModel

@{
    var guid = Guid.NewGuid().ToString();
}
<div style="margin-top: 9px;" id="@guid">
    @if (SecurityContext.CurrentProfile != null && SecurityContext.CurrentProfile.Id != Model.ProfileId && !SecurityContext.CurrentProfile.Professional && Model.FriendshipStatus != FriendshipStatus.Unknown)
    {

        switch (Model.FriendshipStatus)
        {
            case FriendshipStatus.Strangers:
                //friend-button
                <button data-profile-id="@Model.ProfileId" class="btn btn-default btn-clear btn-sm btn-block">Send a friend request</button>
                break;
            case FriendshipStatus.Pending:
            <p class="well-sm WellColour centerAlign">Friend request pending</p>
                break;
            case FriendshipStatus.Friends:
            <p class="well-sm WellColour centerAlign">You are friends with @Model.ProfileName</p>
                break;
            case FriendshipStatus.BlockedBySelf:
            <p class="well-sm WellColour centerAlign"><span>&nbsp;</span>Blocked</p>
                break;
        }
    }
        @*@if (!SecurityContext.Authenticated)
        {
            <a class="btn btn-default btn-clear btn-sm  reg-form-popup" href="/">Send a friend request</a>
        }*@
    </div>

    <script>
        $(function () {
            var $container = $('#@guid');

            $container.on('click', 'button', function () {
                var profileId = $(this).attr('data-profile-id');

                $.ajax({
                    type: 'POST',
                    url: '/Friends/Befriend',
                    data: { ProfileId: profileId, ProfileName: '@HttpUtility.JavaScriptStringEncode(Model.ProfileName)' },
                    success: function (html) {
                        $container.html(html);
                    }
                });
            });
        })
    </script>


