@model Clicks.Yoga.Portal.Models.Facebook.FeedbackModel

@{
    Layout = "~/Views/Layout/Modal.cshtml";
    ViewBag.BodyClass = "manual-register-page";
}

<section role="manual-register" class="clearfix">
	<div id="manual-register" class="clearfix">
        <h2 class="greenHeaderDivider">Success</h2>
	    <p>Thank you for your thoughts. We'll get back to you as soon as we can.</p>
        <hr />  
<a href="javascript:parent.$.fancybox.close();" class="pink large button fr">Close</a>
	</div>
</section>
