<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Clicks.Yoga.Data.YogaDataContext" connectionString="Data Source=(local)\sqlexpress;database=yogaclicks;integrated security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>