<ul id="tabsNav">
    <li>@Html.ActionLink("Profile", "Display")</li>
    <li>@Html.ActionLink("Activities", "Activities")</li>
    <li>@Html.ActionLink("Groups", "Groups")</li>
    <li>@Html.ActionLink("Fans", "Fans")</li>
</ul>
