<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ElasticSearchHost" value="http://ycelasticsearch.cloudapp.net:9200" />
    <add key="ElasticSearchIndex" value="prd-yogaclicks" />
    <add key="YogaEmailRecipient" value="admin@yogaclicks.com" />
    <add key="EmailExceptionHandler.Sender" value="errors@purpletuesday.com" />
    <add key="EmailExceptionHandler.To" value="error@yogaclicks.com" />
    <add key="EmailExceptionHandler.SendEmails" value="true" />
    <add key="FacebookAppId" value="428435913962295" />
    <add key="Clicks.Yoga.Security.UserId" value="1038" />
    <add key="Clicks.Yoga.Security.UserOverridden" value="false" />
    <add key="Clicks.Yoga.ImageStore.Url" value="http://cdn.yogaclicks.com" />
    <!--<add key="Clicks.Yoga.ImageStore.AzureStorageConnectionString" value="UseDevelopmentStorage=true" />-->
    <add key="Clicks.Yoga.ImageStore.AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=portalvhdsz6sxx66c3vrh3;AccountKey=WEc/zUiKZwfzrGqDaFN9uhPhsmW8coqYyOEPSsw4dU7nkbtKS01z5an2ujD9VQXaTB4EDiT2/vZOGJlPC3cZmQ==" />
    <add key="Clicks.Yoga.ImageStore.Path" value="C:\Source Code\YogaClicks\Trunk\Clicks.Yoga.Portal.ImageStore" />
    <add key="Clicks.Yoga.Emails.Sender" value="yogaclicks &lt;admin@yogaclicks.com&gt;" />
    <add key="Clicks.Yoga.Emails.Recipients.Admin" value="admin@yogaclicks.com" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.ApiHost" value="http://us6.api.mailchimp.com" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.ApiKey" value="f99293722a257d9fbd9c7c69ae802cbe-us6" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Students" value="0ae89c9b51" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Teachers" value="5d8c22f6ae" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Venues" value="8d687a48a9" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Service" value="868f81365f" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Newsletter" value="6eb23c9c7a" />
    <add key="Clicks.Yoga.Geography.Yahoo.AppId" value="lxNYNP3c" />
    <add key="Clicks.Yoga.Geography.Yahoo.ConsumerKey" value="dj0yJmk9Nkp1WmdMUmlUVER1JmQ9WVdrOWJIaE9XVTVRTTJNbWNHbzlOamcxT0Rjd09UWXkmcz1jb25zdW1lcnNlY3JldCZ4PTg5" />
    <add key="Clicks.Yoga.Geography.Yahoo.ConsumerSecret" value="fe65032b46c15ac0269b8ed8e35c67ba92180a58" />
    <add key="Clicks.Yoga.Geography.Yahoo.PlaceFinderUrl" value="http://yboss.yahooapis.com/geo/placefinder" />
    <add key="Clicks.Yoga.InfiniteScroll.DefaultNumberOfStyles" value="20" />
    <add key="Clicks.Yoga.InfiniteScroll.DefaultNumberOfNewsStories" value="5" />
    <add key="Clicks.Yoga.InfiniteScroll.DefaultNumberOfGroupMembers" value="20" />
    <add key="Clicks.Yoga.NewsUpdateGroup.Id" value="1021" />
    <add key="Clicks.Yoga.NewsUpdateGroup.PermitedUserIds" value="2264,1038,3539,2064,2138,3446" />
    <add key="Clicks.Yoga.Advertiser.UserId" value="3539" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="UserQuery" connectionString="Data Source=tcp:hefvytvcjl.database.windows.net,1433;Initial Catalog=YogaClicks;Integrated Security=False;User ID=yogaclicks;Password=Cabbages99;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />
    <add name="Clicks.Yoga.Data.YogaDataContext" connectionString="Data Source=tcp:c2ycszghcg.database.windows.net,1433;Initial Catalog=prd-yogaclicks_db;User Id=yogaclicks@c2ycszghcg;Password=!Yoga_Cl1cks" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
</configuration>