<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EmailExceptionHandler.Sender" value="errs@purpletuesday.com" />
    <add key="EmailExceptionHandler.To" value="error@yogaclicks.com" />
    <add key="EmailExceptionHandler.SendEmails" value="true" />
    <add key="FacebookAppId" value="812614575505636" />
    <add key="ElasticSearchHost" value="http://localhost:9200" />
    <add key="ElasticSearchIndex" value="yogaclicks" />
    <add key="Clicks.Yoga.Security.UserId" value="1" />
    <add key="Clicks.Yoga.Security.UserOverridden" value="false" />
    <add key="Clicks.Yoga.ImageStore.Url" value="http://betaimagestore.yogaclicks.com" />
    <add key="Clicks.Yoga.ImageStore.Path" value="c:\inetpub\wwwroot\Clicks.Yoga.Portal.ImageStore - beta" />
    <add key="Clicks.Yoga.ImageStore.AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=betaimagestore;AccountKey=BOZDle1qVZ7br2Grkv2jqeO+XBb4b2/puYUwDK1mF8yUAtj3b2pLPIReL/Xg66e1gYyUO9Brt5XVoWFCnzszLQ==" />
    <add key="Clicks.Yoga.Emails.Sender" value="yogaclicks &lt;admin@yogaclicks.com>" />
    <add key="Clicks.Yoga.Emails.Recipients.Admin" value="admin@yogaclicks.com" />
    <add key="Clicks.Yoga.Emails.Recipients.Spam" value="spam@yogaclicks.com" />
    <add key="Clicks.Yoga.Emails.Recipients.Report" value="report@yogaclicks.com" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.ApiHost" value="http://us6.api.mailchimp.com" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.ApiKey" value="f99293722a257d9fbd9c7c69ae802cbe-us6" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Students" value="bef9564d13" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Teachers" value="d0db58f0e0" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Venues" value="4baeaa3fad" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Service" value="178ebeaf4b" />
    <add key="Clicks.Yoga.MailingLists.MailChimp.Lists.Newsletter" value="939a0dadb9" />
    <add key="Clicks.Yoga.Geography.Yahoo.AppId" value="lxNYNP3c" />
    <add key="Clicks.Yoga.Geography.Yahoo.ConsumerKey" value="dj0yJmk9Nkp1WmdMUmlUVER1JmQ9WVdrOWJIaE9XVTVRTTJNbWNHbzlOamcxT0Rjd09UWXkmcz1jb25zdW1lcnNlY3JldCZ4PTg5" />
    <add key="Clicks.Yoga.Geography.Yahoo.ConsumerSecret" value="fe65032b46c15ac0269b8ed8e35c67ba92180a58" />
    <add key="Clicks.Yoga.Geography.Yahoo.PlaceFinderUrl" value="http://yboss.yahooapis.com/geo/placefinder" />
    <add key="Clicks.Yoga.InfiniteScroll.DefaultNumberOfStyles" value="20" />
    <add key="Clicks.Yoga.InfiniteScroll.DefaultNumberOfNewsStories" value="5" />
    <add key="Clicks.Yoga.InfiniteScroll.DefaultNumberOfGroupMembers" value="20" />
    <add key="Clicks.Yoga.NewsUpdateGroup.Id" value="1021" />
    <add key="Clicks.Yoga.NewsUpdateGroup.PermitedUserIds" value="2239,1038,2282" />
    <add key="Clicks.Yoga.Advertiser.UserId" value="2282" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="Clicks.Yoga.Data.YogaDataContext" connectionString="server=yogaclicks.cloudapp.net; database=PSLiveSiteDB; User Id=yogaclicks@c2ycszghcg;Password=!Yoga_Cl1cks" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <exceptionHandling>
    <add typeName="Common.ExceptionHandling.Custom.Aspnet.EmailExceptionHandler, Common" />
  </exceptionHandling>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@yogaclicks.com">
        <network host="smtp.mandrillapp.com" port="587" userName="info@yogaclicks.com" password="UhWk6kBxFG6oh7FEpMj_6w" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <sessionState timeout="60"  xdt:Transform="Insert" />
  </system.web>
  <system.webServer xdt:Transform="Replace">
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="403" path="/Errors/Forbidden" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Errors/NotFound" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Errors/Error" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <remove fileExtension=".swf " />
      <mimeMap fileExtension=".swf " mimeType="application/x-shockwave-flash" />
      <remove fileExtension=".flv" />
      <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="true"/>
  </elmah>
</configuration>

