<div class="successLightbox">
    <h3 class="blackSubHeader">
        That's the basics done. You can add images or info by clicking on the edit button
        <br /><br />
        Your professional page(s) will always be visible in searches
        <br /><br />
        Remember you can choose whether to make your account visible or not in your Account Settings
    </h3>
</div>