@model Clicks.Yoga.Portal.Models.Medic.TherapyTypeModel

<div class="therapy-type-editor-container">
    <span>@Model.Name</span><input type="checkbox" name="@Model.Name.ToLower()" data-id="@Model.Id" />
</div>
