@{
    ViewBag.Title = "KSR Resources: About Us";

    ViewBag.Description = "KSR Resources have a proven track record in every sector we cover. We have dedicateteams with decades of recruitment industry experience. We work tirelessly to recruit and retain exceptional people.";
}


<img alt="KSR Resources: About Us" class="img-responsive headerImage" src="~/Images/aboutus/main.png" />
<span class="Strapline ">Targeted recruitment</span>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>About Us.</h1>
        <p>

            We want everyone to wake up happy, excited to get to work, inspired by what they’re creating, and to get home feeling fulfilled – as if they’re part of something much bigger than themselves.<br /><br />



            That’s why we spend our time getting really clear on what gets you out of bed every day, what inspires you, what you’re committed to, how you make choices.<br /><br />



            We have integrity, maturity and discretion and we are transparent. We handle confidential information with sensitivity, and we treat everyone with respect, from candidate to client, from plc to public body. We don’t generalise, we specialise. We listen.<br /><br />



            Let’s talk.



        </p>


    </div>

</div>

<div class="row nomargin nopadding mainSpacer">
    <div class="col-sm-6 mainBackalt1 nopadding">


        <div class="row nomargin  mainBackalt1 mainBackalt1colour">

            <div class="col-sm-12 Quote QuotesP Crimson">

                <i class=" fa fa-quote-left" aria-hidden="true">
                </i>
                <span> We work tirelessly to recruit and retain <span class="Orage">exceptional</span> people.</span>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>

        </div>





    </div>
    <div class="col-sm-6  nopadding mainBackalt2 ">

        <div class="row nomargin mainBackalt2 mainBackalt3colour">
            <div class="col-xs-4   ">
                <br />
                <img  class="img-responsive img-circle Steve " src="~/Images/Aboutus/Steve.jpg" />
                <br />
            </div>
            <div class="col-xs-8  mainBackalt3colour ">


              
                <p class="mainBackalt3colour">
                   <strong style="font-size:1.2em; display: block;margin-top:-5px">Lead Recruiter: Steve Kelly</strong><br /><span class="mainBackalt3colour" style="text-align: justify;font-size:1.05em;">
                                                                                                                                 Steve has over 6 years experience recruiting and headhunting for clients on a

                                                                                                                                 global scale. Steve has had significant success placing candidates across IT,

                                                                                                                                 Media, Economist, Healthcare and Engineering within both the Private and Public

                                                                                                                                 Sectors.
                    </span>
                </p>
            </div>
        </div>

    </div>
</div>
<div class="row  mainBack nomargin nopadding mainSpacer mainfinisher">
    <div class="col-xs-12 nopadding">

        <p>
            KSR have a proven track record across the every discipline we cover, from start ups and

            SME’s through to FTSE 100 firms. We successfully placing high calibre candidates into a

            broad range of disciplines. We have dedicated teams, specializing across commerce and

            industry, public sector and not for profit sectors, each with years of industry experience.
        </p>

      
    </div>

</div>

