
@{
    ViewBag.Title = "Accountancy recruitment & Jobs: KSR Resources";
    ViewBag.Description = "From factoring to forensic, KSR Accountancy recruitment has a proven track record across all accounting, audit and treasury disciplines. We work with a diverse client base that includes investment houses, retail banks and top five firms.";
}

<img alt="Accountancy recruitment & Jobs: KSR Resources" class="img-responsive" src="~/Images/Accountancy/main.png" />
<span class="Strapline ">Driven by numbers</span>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>Accountancy.</h1>
        <p class="QuotesP">
 
            From factoring to forensic, KSR Accountancy has a proven track record in recruiting high

            quality talent across all disciplines of accounting, audit and treasury professionals. We work

            with a diverse client base that includes investment houses, retail banks, asset management

            houses, insurance companies, private equity, venture capital firms and hedge funds.
         
        </p>
     
    </div>
    <div class="row   nomargin nopadding">
        <div class="col-xs-12 nopadding"><p class="Boxpa">Some of the roles we recruit and place for include:</p>
            <div class="well well-sm">
     
               

                    <div class="row   nomargin nopadding">
                        <div class="col-sm-4 nopadding nomargin"><p class="candiwell blck">
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Auditor
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
    Book Keeper
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
    Chartered Accountant
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Cost Analyst
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Financial Analyst
    <br />
  

</p>
                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Compliance/Risk Manager
                                <br/>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Finance Manager
                                <br/>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Financial Accountant
                                <br/>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                FP&amp;A Manager
                                <br/>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Management Accountant
                             
                            </p>
                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Payroll Manager
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Semi-Senior Accountant
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Systems Accountant
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Tax Specialist / Manager
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Finance Director
                         
                            </p>
                        </div>

                    </div>
                           




                       



            </div>

        </div>

    </div>
    <div class="col-xs-12 nopadding">

        <p>

            The right talent is becoming increasingly hard to find, with candidates often able to choose

            between opportunities. That’s why we proactively target individuals who may not be active

            on the job market, but could be interested if approached about an opportunity with your

            company. This generally means no one else will be talking to the same individuals about the

            same roles and offers.

            We will continue to work on fulfilling your roles until the selected candidate has signed the

            contract and started work.<br/><br/>

            Our search will be thorough and comprehensive, focusing only on finding individuals with

            the technical skills and calibre that match your role’s specific requirements.

            Our consultants are up to date with their knowledge of the market conditions and the

            specific issues relating to securing the appropriate talent within your defined geographical

            locations.
        </p>
 
    </div>

</div>
@Html.Partial("BoxGrid")
