@{
    ViewBag.Title = "KSR Resources: Candidates";

    ViewBag.Description = "Stop dreaming about that dream job and land it, Turn the dream into reality with a recruitment agency that digs deeper and delves further. We know our job is done when you tell us you love your new one.";
}


<img alt="KSR Resources: Candidates" class="img-responsive" src="~/Images/Candidates/main.png" />
<span class="Strapline ">The sky is the limit</span>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>Candidates.</h1>
        <p>
            Stop dreaming about your dream job and land it. Translate that dream into reality with an agency that

            digs deeper and delves further. We handle confidential information with sensitivity, and treat everyone

            with respect, from developer to designate, from accountant to analyst. We know our job is done when

            you tell us you love your new one. The relationship doesn’t end there though: we will follow through and

            keep in touch with invaluable industry news and opinion to ensure you’re up-to- date with future
             
            opportunities and help you to remain a step ahead in the market for jobs.
        </p>


    </div>

</div>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <div class="well well-sm">
            <h3>Our Promise:</h3>
            <p class="candiwell blck">
                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                We will only submit your CV to a potential employer with your consent.<br />

                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                We will always provide you with frank, honest and practical advice.<br />

                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                We will act with integrity, with your best interests at the core of everything we do.<br />

                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                We are discreet. We understand the importance of trust and confidentiality.<br />
            </p>
        </div>

    </div>

</div>

<div class="row  mainBack nomargin nopadding mainfinisher">
    <div class="col-xs-12 nopadding">
        <h2>Careers at KSR</h2>
        <p><strong>Are you ready to change the face of recruitment?</strong><br />
            A consultant (from Latin: consultare &quot;to discuss&quot;) is a professional who provides expert

            advice in a particular area. Our area of expertise is recruitment.

            We’re growing, but we need brilliant people to join our exceptional and talented team

            of recruitment consultants. You’ll be a brilliant communicator, understand the value of

            relationships and have deep knowledge of your sector and a hunger for success.

            You’ll also be a team player who’s great at sharing your knowledge and best practice –

            but never afraid to admit when someone has a better idea!

            We are driven by switched-on people, pursuing a career in a company culture that combines innovation in recruitment with personal and professional achievement.
        </p>


    </div>
    <div class="col-xs-12 nopadding">
      
        <p class="CanditesLink"><i class="fa  fa-caret-right" aria-hidden="true"></i>
            &nbsp;&nbsp;If you have what it takes and want to work with a fantastic bunch of <br class="hidden-xs" />serious consultants, drop us your details and we will be in touch. <br /><a href="mailto:carrers@ksrresources.com">career@ksrresources.com</a>
        </p>

    </div>

</div>
