@{
    ViewBag.Title = "KSR Resources: For Clients";

    ViewBag.Description = "If you are looking for the best and brightest talent, we will help you find it through our broad network across seven core disciplines, from accountancy to IT. The right talent is becoming increasingly hard to find, with candidates often able to choose between opportunities. That’s why KSR proactively target individuals who may not be active on the job market.";
}


<img alt="KSR Resources: For Clients" class="img-responsive" src="~/Images/Clients/main.png" />
<span class="Strapline ">Part of your team</span>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>Clients.</h1>
        <p>The right talent is becoming increasingly hard to find, with candidates often able to choose

between opportunities. That’s why we proactively target individuals who may not be active

on the job market, but could be interested if approached about an opportunity with your

company. This generally means no one else will be talking to the same individuals about the

same roles and offers.

Our search will be thorough and comprehensive, focusing only on finding individuals with

the technical skills and calibre that match your role’s specific requirements.

Our consultants are up to date with their knowledge of the market conditions and the

specific issues relating to securing the appropriate talent within your defined geographical

            locations.
            <br/><br/>
            If you are looking for the best and brightest talent, we will help you find it through our broad

and deep network across seven core industries.

We don’t walk away when you’ve signed the contract; we stay in touch - we want to know

that our candidate is making a daily difference to your business for the long haul.

We handle confidential information with sensitivity, and we treat everyone with respect,

            from PLC to public body. We understand that time is money.<br/><br/>


  

            We rigorously vet every candidate according to the jobs specification you provide. We ensure that all

            candidates we propose are suitable and willing to undergo any security clearances required to do the

            job, including citizenship, probity, work permits and driving licences, if applicable.

        </p>
    </div>


</div>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <div class="well well-sm">
            <h3>Resources:</h3>
            <p class="candiwell blck">
                We place professionals in practically every accountancy, IT, finance, sales and

                marketing role. We have in-depth knowledge of every sector we cover and we research

                them to death. All our consultants are experts in their field
            </p>
        </div>

    </div>
    <div class="col-xs-12 nopadding">
        <div class="well well-sm">
            <h3>Responsibility:</h3>
            <p class="candiwell blck">
                We don’t walk away when you’ve signed the contract; we stay in touch - we

                want to know that our candidate is making a daily difference to your business, for the long haul.
            </p>
        </div>

    </div>
    <div class="col-xs-12 nopadding">
        <div class="well well-sm">
            <h3>Relationships:</h3>
            <p class="candiwell blck">
                Our greatest asset and at the very heart of what we do. Relationships matter.

                A lot. For our effectiveness, reputation and your success because people do business with

                people they like.
            </p>
        </div>

    </div>
</div>


