@model System.Web.Mvc.HandleErrorInfo

@{
    
    ViewBag.Title = "Error";
}

<h1 class="conus-3">Error.</h1>
<h2 class="conus-3">An error occurred while processing your request.<br/> Please get intouch and we would only be happy to help</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/insM7oUYNOE?rel=0&autoplay=1" frameborder="0"></iframe>
</div>

<div class="row  mainBack nomargin mainfinisher">
    <div class="col-sm-4 mappadding">
        <div class="google-maps ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d605.4144539392657!2d1.2980849361620497!3d52.630027498715215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9e3e7df7655df%3A0xae436413f4571172!2s12+Upper+King+St%2C+Norwich%2C+Norfolk+NR3+1HA%2C+UK!5e0!3m2!1sen!2sus!4v1465378300185" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><br />
    </div>
    <div class="col-sm-8 mainBackalt3colour fullcontact mainBackalt3colour">
        <span class="conus-1">KSR RESOURCES LTD</span><br />
        <span class="conus-2">12 Upper King Street, Norwich<br />Norfolk, NR3 1HA</span><br />
        <span class="conus-3">01603 239014</span><br />
        <span class="conus-4"><a href="mailto:careers@ksrresources.com">careers@ksrresources.com</a></span>
    </div>
</div>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <br /><br />
    </div>

</div>