
@{
    ViewBag.Title = "Finance Recruitment & Jobs: KSR Resources";
    ViewBag.Description = "A career in finance isn’t just about the money. KSR specialise in providing permanent and contract recruitment in all areas of finance sectors.";
}

<img alt="Finance Recruitment & Jobs: KSR Resources" class="img-responsive" src="~/Images/Finance/main.png" />
<span class="Strapline ">It’s a numbers game</span>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>Finance.</h1>
        <p class="QuotesP">
   
            A career in finance isn’t all about the money. KSR Resources specialise in providing permanent and

            contract recruitment in all areas of the finance sector. The finance industry is multifaceted, offering a

            huge variety of positions, catering to a large number of different skills and interests.<br/><br/>

         

            We are committed to developing long-term relationships with clients and candidates alike

            and delivering results. So regardless if you are just starting out in the profession, a CFO or

            anywhere in between we will do our best to find you the job to help develop your career.

            The roles we cover within these markets are truly diverse.<br/><br/>

            KSR have a proven track record across the finance sector, from start ups and SME’s through

            to FTSE 100 firms, in successfully placing high calibre candidates into a broad range of

            disciplines. We have a dedicated finance team, specializing across commerce and industry,

            public sector and not for profit sectors, each with years of industry experience.
        
        </p>
     
    </div>
    <div class="row   nomargin nopadding">
        <div class="col-xs-12 nopadding"><p class="Boxpa">Some of the roles we recruit and place for include:</p>
            <div class="well well-sm">
     
               

                    <div class="row   nomargin nopadding">
                        <div class="col-sm-4 nopadding nomargin"><p class="candiwell blck">
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Chief Executive Officer
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Treasury Cashier / Advisor
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Financial Director
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Asset Management
                                                                     <br />
                                                                     <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     M&amp;A


</p>
                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Managing Director
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Commercial Director
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Chief Finance Office
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Wealth Management
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Insurance
                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Chief Operations Manager
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Financial Controller
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Managing Director
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Risk Management
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Banking
                        </div>
                    </div>
                           




                       



            </div>

        </div>

    </div>
    <div class="col-xs-12 nopadding">

        <p>

            The right talent is becoming increasingly hard to find, with candidates often able to choose

            between opportunities. That’s why we proactively target individuals who may not be active

            on the job market, but could be interested if approached about an opportunity with your

            company. This generally means no one else will be talking to the same individuals about the

            same roles and offers.

            We will continue to work on fulfilling your roles until the selected candidate has signed the

            contract and started work.<br /><br />

            Our search will be thorough and comprehensive, focusing only on finding individuals with

            the technical skills and calibre that match your role’s specific requirements.

            Our consultants are up to date with their knowledge of the market conditions and the

            specific issues relating to securing the appropriate talent within your defined geographical

            locations.
        </p>
     
    </div>
</div>
@Html.Partial("BoxGrid")
