@{
    ViewBag.Title = "KSR Resources: Recruitment and Job Agency.";

    ViewBag.Description = "We recruit and source talented people into great businesses. We specialise in the IT,Accountancy, Finance, Marketing, Digital, Media sectors. Services include: Permanent Recruitment, Contract Recruitment and Interim Recruitment.";
}


<img alt="KSR Resources: Recruitment and Job Agency." class="img-responsive headerImage" src="~/Images/Homepage/main.png"/>

<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">

        <p>
            Knowing what you do is important, but understanding who you are is everything.<br /><br />



            We want to know what gets you out of bed every day, what inspires you, what you’re committed to, how you make choices.<br /><br />



            Knowing this of both our candidates and employers, enables us to help create inspiring workplaces - where everyone feels valued and fulfilled. Which is what gets us out of bed every day.


      

        </p>
    </div>
</div>
@Html.Partial("BoxGrid")
