
@{
    ViewBag.Title = "IT Recruitment & Jobs: KSR Resources";
    ViewBag.Description = "Whether you work with pixels or code, KSR recruitment can place and connect professionals who enhance companies. We recruit all levels of technology positions from entry level to executive.";
}

<img alt="IT Recruitment & Jobs: KSR Resources" class="img-responsive" src="~/Images/IT/main.png" />
<span class="Strapline ">IT in one!</span>


<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>IT.</h1>
        <p class="QuotesP">


            Whether you work with pixels or code, KSR IT can place and connect professionals who

            enhance companies. We’ve built relationships with expert candidates who provide support

            for the complete software development lifecycle, mission critical business systems,

            infrastructure and operations, and other strategic initiatives.

            KSR IT recruit for all levels of technology positions, from entry level to executive. From

            legacy systems to emerging technologies, we cover the full gamut.


        </p>

    </div>
    <div class="row   nomargin nopadding">
        <div class="col-xs-12 nopadding"><p class="Boxpa">Some of the roles we recruit and place for include:</p>

            <div class="well well-sm">



                <div class="row   nomargin nopadding">
                    <div class="col-sm-4 nopadding nomargin">
                        <p class="candiwell blck">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                            Consulting, Business
                            <br/>

                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                            Data Enterprise Architecture
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                            ERP
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                            Transformation &amp;

                            Implementation<br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                            CEO, CIO, CTO
                        </p>
                    </div>
                    <div class="col-sm-4 nopadding nomargin listmin">
                        <p class="candiwell blck">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Infrastructure
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Data Centre Networks
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Service Delivery
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Operations
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Business Analyst

                    </div>
                    <div class="col-sm-4 nopadding nomargin listmin">
                        <p class="candiwell blck">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Development
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Portfolio &amp; Programme
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        PMO
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Software Engineer
                        <br/>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Development
                    </div>
                </div>









            </div>

        </div>

    </div>
    <div class="col-xs-12 nopadding">

        <p>

            The right talent is becoming increasingly hard to find, with candidates often able to choose

            between opportunities. That’s why we proactively target individuals who may not be active

            on the job market, but could be interested if approached about an opportunity with your

            company. This generally means no one else will be talking to the same individuals about the

            same roles and offers.

            We will continue to work on fulfilling your roles until the selected candidate has signed the

            contract and started work.<br/><br/>

            Our search will be thorough and comprehensive, focusing only on finding individuals with

            the technical skills and calibre that match your role’s specific requirements.

            Our consultants are up to date with their knowledge of the market conditions and the

            specific issues relating to securing the appropriate talent within your defined geographical

            locations.
        </p>
      
    </div>


</div>
@Html.Partial("BoxGrid")
