
@{
    ViewBag.Title = "Marketing , Digital & Media Recruitment: KSR Resources";
    ViewBag.Description = "There is a fast growing demand for digital services and out talent network gives you access to the best creative professionals and companies in the world. Whether you’re looking to hire or be hired, KSR recruit professionals into practically every marketing, digital or media role.";
}

<img alt="Marketing , Digital & Media Recruitment: KSR Resources" class="img-responsive" src="~/Images/marketing/main.png" />
<span class="Strapline ">A 360&#176; View</span>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>Marketing | Digital | Media.</h1>
        <p class="QuotesP">

            There is a fast-growing demand for digital services and our talent network gives you access

            to the best creative professionals and companies in the world. Whether you’re looking to

            hire or be hired, KSR place professionals in practically every advertising, communications,

            BD, media and marketing role. From creative genius to digital demon, KSR have it covered. The blurred lines between Marketing, Digital and Media require a recruitment consultant with snap, focus and drive.
    
        </p>
     
    </div>
    <div class="row   nomargin nopadding">
        <div class="col-xs-12 nopadding"><p class="Boxpa">Some of the roles we recruit and place for include:</p>
            <div class="well well-sm">
     
               

                    <div class="row   nomargin nopadding">
                        <div class="col-sm-4 nopadding nomargin"><p class="candiwell blck">
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Marketing &amp;

                                                                     Communications
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Public Relations
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Advertising
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Research
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Sponsorship &amp; Events

</p>
                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Content
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Mobile
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Planner
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Analytics
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                UX,UI, App Developer


                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Creative &amp; Production
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Strategy
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Digital
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Publishing
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Research


                        </div>
                    </div>
                           




                       



            </div>

        </div>

    </div>
    <div class="col-xs-12 nopadding">
   
        <p>

            The right talent is becoming increasingly hard to find, with candidates often able to choose

            between opportunities. That’s why we proactively target individuals who may not be active

            on the job market, but could be interested if approached about an opportunity with your

            company. This generally means no one else will be talking to the same individuals about the

            same roles and offers.

            We will continue to work on fulfilling your roles until the selected candidate has signed the

            contract and started work.<br/><br />

            Our search will be thorough and comprehensive, focusing only on finding individuals with

            the technical skills and calibre that match your role’s specific requirements.

            Our consultants are up to date with their knowledge of the market conditions and the

            specific issues relating to securing the appropriate talent within your defined geographical

            locations.
        </p>
   
    </div>
</div>
@Html.Partial("BoxGrid")
