
@{
    ViewBag.Title = "Sales Recruitment & Jobs: KSR Resources";
    ViewBag.Description = "Sales play a vital role in almost business and organization, from SME to corporation. KSR specialise in recruiting talented people into great businesses. WE are sales-savvy experts who are trained to negotiate and attract top talent.";
}

<img alt="Sales Recruitment & Jobs: KSR Resources" class="img-responsive" src="~/Images/sales/main.png" />
<span class="Strapline ">Goal!</span>
<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>Sales.</h1>
        <p class="QuotesP">
          
            Sales plays a vital role in almost every business and organization, from SME to corporation.

            KSR specialize in placing talented sales people into great businesses. Our recruiters are sales-

            savvy industry experts who are trained to negotiate, evaluate the market value of skilled

            candidates and attract top talent. Where you are based in the field or lead from the top, are face to face or maybe need to direct the sales process from afar, KSR can resource the top talent within every discipline of sales.

        </p>
     
    </div>
    <div class="row   nomargin nopadding">
        <div class="col-xs-12 nopadding"><p class="Boxpa">Some of the roles we recruit and place for include:</p>
            <div class="well well-sm">
     
               

                    <div class="row   nomargin nopadding">
                        <div class="col-sm-4 nopadding nomargin"><p class="candiwell blck">
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Sales Manager
    <br />
    <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Head Of Sales
                                <br/>
                                                                     <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Account Management
                                                                     <br />
   
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     Territory Manager
                                <br/>
                                                                     <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                                                     After-Sales Manager

                                                                     <br />


</p>
                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Global Sales
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Business Development

                                Manager
                            <br/>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Sales Executive
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Field Sales Manager
                            <br/>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Sales Engineer
                                <br />

                        </div>
                        <div class="col-sm-4 nopadding nomargin listmin">
                            <p class="candiwell blck">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Regional Sales Director
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Sales Director
                                <br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Relationship Management<br />
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Pre-Sales Manager
                            <br/>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;
                                Vice President
                                <br />


                        </div>
                    </div>
                           




                       



            </div>

        </div>

    </div>
    <div class="col-xs-12 nopadding">
   
        <p>

            The right talent is becoming increasingly hard to find, with candidates often able to choose

            between opportunities. That’s why we proactively target individuals who may not be active

            on the job market, but could be interested if approached about an opportunity with your

            company. This generally means no one else will be talking to the same individuals about the

            same roles and offers.

            We will continue to work on fulfilling your roles until the selected candidate has signed the

            contract and started work.<br/><br />

            Our search will be thorough and comprehensive, focusing only on finding individuals with

            the technical skills and calibre that match your role’s specific requirements.

            Our consultants are up to date with their knowledge of the market conditions and the

            specific issues relating to securing the appropriate talent within your defined geographical

            locations.
        </p>
   
    </div>
</div>
@Html.Partial("BoxGrid")
