@{
    ViewBag.Title = "KSR Resources: Services We Offer";

    ViewBag.Description = "Whether you’re looking to fill or find a permanent, contract or interim job, KSR have the expertise. With a global network of resources, KSR can find the jobs and candidates that other recruitment agencies cannot.";
}


<img alt="KSR Resources: Services We Offer" class="img-responsive" src="~/Images/Services/main.png" />
<span class="Strapline ">Raising the bar</span>






<div class="row  mainBack nomargin nopadding">
    <div class="col-xs-12 nopadding">
        <h1>Services</h1>

        <p >
            Our 360 degrees approach to recruitment is really simple: full-cycle consultants manage the complete recruitment process from brief to offer. The combination of an all round approach and a single point of contact throughout simplifies the process for both candidates and clients and nothing is lost in translation.



        </p>


        <div class="col-xs-12 nopadding">
            <div class="well well-sm">
                <h3>Permanent Recruitment:</h3>
                <p class="candiwell blck">




                    With access to large social media networks, specialist job boards and a strong in-house database,

                    KSR have all the tools and experience to find you the perfect candidate. We pay close attention to the

                    culture of your company so we can source the right candidate that fits the technical brief as well a

                    personable fit. We have the information on hand to respond quickly to your needs.






                </p>
            </div>

        </div>
        <div class="col-xs-12 nopadding">
            <div class="well well-sm">
                <h3>Contract Recruitment:</h3>
                <p class="candiwell blck">
                    Just because the position isn’t permanent, doesn’t make a difference. Whether to fill an on

                    demand resources gap, or to man an entire project team, we can find the people to keep the

                    work flowing. With access to large social media networks, specialist job boards and a strong

                    in-house database KSR have all the tools and experience to find you the perfect candidate.

                    We pay attention to the culture of your company so we can source the right candidate that

                    fits the technical brief as well a personable fit.
                </p>
            </div>

        </div>
        <div class="col-xs-12 nopadding">
            <div class="well well-sm">
                <h3>Interim Recruitment:</h3>
                <p class="candiwell blck">
                    If you need people fast, we’ll do our best to deliver. KSR have an exceptional pool of pre-

                    selected interim candidates. We place people who fit in well and hit the ground running,

                    who will make a difference from day one. With access to large social media networks,

                    specialist job boards and a strong in-house database KSR have all the tools and experience to

                    find you the perfect interim candidate.
                </p>
            </div>

        </div>

    </div>


</div>

@Html.Partial("BoxGrid")