@model Clicks.Yoga.Portal.Models.Recommendations.RecommendationButtonModel


@if (SecurityContext.Authenticated)
{
    <button onclick="openModal('@Url.Action("Send", new { Model.EntityId, Model.EntityTypeName })')" class="button recommendButton">Recommend to a friend</button>
}

else
{
    <a class="silver button reg-form-popup sendMessageBtn unauth-msg-button" href="/">Recommend to a friend</a>
}
