@model Clicks.Yoga.Portal.Models.Medic.ConditionDirectoryImageEditorModel

@{
    Layout = null;
}

<div class="block-section image-upload condition-directory-image">
    @if (Model.CurrentImage != null && Model.CurrentImage.Exists)
    {
        @Html.DisplayFor(m => m.CurrentImage, "ConditionDirectoryImage")
    }
</div>
<div class="block-section">
    <h3>Replace directory image</h3>
    <p>optimal image dimensions are 266 x 118px, recommended file format is PNG or JPEG and 1MB max</p>
    @Html.EditorFor(m => m.NewImage)
    <div id="conditiondirectoryimageSave" class="saverequired">Saving...</div>
</div>