@using Clicks.Yoga.Portal.Models.Profiles
@model Clicks.Yoga.Portal.Models.Profiles.StartWizardModel

@{
    Layout = "~/Views/Layout/Modal.cshtml";
}

@using (Html.BeginForm())
{
    <h2 class="greenHeader">Welcome to YogaClicks!</h2>
    <hr class="modalHr" />
    <h3 class="cb blackSubHeader">Are you a teacher, venue or teacher training organisation?</h3>
    <div class="form-grey-bg professionalButtons wizard-pro-student-container">
        <div class="proButton">
            <label>@Html.RadioButtonFor(m => m.IsProfessional, true) Yes</label>
        </div>
        <div class="proButton">
            <label>@Html.RadioButtonFor(m => m.IsProfessional, false) No</label>
        </div>
    </div>
    <div class="wizard-footer-image"><img src="@Url.Content("~/images/wizard/wizard-all-step1.jpg")" /></div>
    <div class="wizard-footer-buttons-container">
        <a href="javascript:parent.$.fancybox.close();" class="textLink fl">Cancel</a>
        <span class="fr"><input class="button pink large fr" type="submit" value="Next" /></span>
    </div>
    <div class="cb"></div>
}