@{
    Layout = null;
}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" content="http://yogaclicks.com/images/og-tag.png">

	<title>Yoga clicks</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=960, initial-scale=1.0" />
	
	<link rel="stylesheet" type="text/css" href="/includes/less/style.css">

	<script src="/includes/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body class="holding-page">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div id="container">
	<header class="holdingpage clearfix">
		<h1><img src="images/global/logo-w-slogan.png" alt="Yogaclicks. Find it. Love it. Share it." /></h1>
	</header>
	
	<section role="holdingpage" class="clearfix">
		<h2>Thank you for registering.<br />
		<span>We can't wait to share YogaClicks with you. Coming very soon!</span></h2>
		<div>
			<p>In the meantime, please join the party on Facebook and Twitter, and check out our blog.</p>
			<ul id="sm-icons">
				<li><a href="http://www.facebook.com/yogaclicks"><img src="/images/buttons/fb.png" alt="Facebook" width="26" height="26"></a></li>
				<li><a href="http://twitter.com/yogaclicks"><img src="/images/buttons/twitter.png" alt="Twitter" width="26" height="26"></a></li>
				<li><a href="http://www.pinterest.com/yogaclicks"><img src="/images/buttons/pinterest.png" alt="Pinterest" width="26" height="26"></a></li>
				<li><a href="http://blog.yogaclicks.com">Blog</a></li>
			</ul>
		</div>
		<div>
			<p>Parties are always better with your friends. Invite them here.</p>
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<a class="addthis_button_preferred_4"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-511d0a113b377c91"></script>
		    <!-- AddThis Button END -->
            <div class="credit"><a href="https://www.facebook.com/Artist.Photografia" target="_blank"><img src="images/global/robert-sturman.png" alt="Robert Sturman" width="508" height="26"></a></div>
		</div>
	</section>
</div>
<footer role="pagefooter" class="clearfix">
	<!--nav role="footer-navigation">
		<ul>
			<li><a href="#">Site map</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms &amp; Conditions</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</nav-->
	<p>&copy; YogaClicks 2013</p>
</footer><script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="includes/js/libs/jquery-1.9.1.min.js"><\/script>')</script>

<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="/includes/js/backstretch.min.js"></script>
<script src="/includes/js/libs/cycle.jquery.js"></script>
<script src="/includes/js/libs/sly.jquery.min.js"></script>
<script src="/includes/js/libs/jquery.pagescroller.lite.js"></script>
<script src="/includes/js/plugins.js"></script>
<script src="/includes/js/script.js"></script>
<script>
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>
