@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Layout/Error.cshtml";
}

<div id="content-slider" class="content-slider">
    <div class="profile-strip content-col" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2>Something went wrong!</h2>
                <p>Sorry, it looks like we're having a few technical problems.</p>
            </article>
        </div>
    </div>
</div>
