@model Clicks.Yoga.Portal.Models.Search.SearchAccreditingBodiesModel

<div id="navwrap">
    @Html.Partial("left-nav-menu")
    <section class="filters" id="filter-results" class="set-height">
    </section>
</div>
