@{
    ViewBag.Title = "CreateProfessionalCloseModal";
    Layout = "~/Views/Layout/Modal.cshtml";
}

<h2 class="greenHeader">Congratulations</h2>
<hr/>
<br /><br />
<h3 class="blackSubHeader">
    That's the basics done. You can add images or info by clicking on the edit button
    <br/><br/>
    Your professional page(s) will always be visible in searches
    <br/><br/>
    Remember you can choose whether to make your account visible or not in your Account Settings
</h3>

<br/><br/><br/>

<div class="wizard-footer-buttons-container">
    <a href="javascript:parent.$.fancybox.close();" class="textLink fl">Cancel</a>
    <div class="wizard-footer-nav-container">
        <a href="javascript:parent.$.fancybox.close();" class="button pink large">Close</a>
    </div>
</div>
<div class="cb"></div>

