@model Clicks.Yoga.Portal.Models.Profiles.ProfileCreateVenueLocationModel

@{
    Layout = "~/Views/Layout/Modal.cshtml";
}
<h2 class="greenHeader">Your venue page</h2>
<hr class="modalHrSteps" />
<ul class="steps steps3">
    <li><span>Step 1</span></li>
    <li><span>Step 2</span></li>
    <li class="active"><span>Step 3</span></li>
</ul>
@using (Html.BeginForm("CreateVenueLocation", "Profiles"))
{
<div class="scrollableiFrame">
    @Html.ValidationSummary()
    <h3 class="cb">Address details</h3>
        @Html.EditorFor(m => m.Address)
</div>

    <div class="wizard-footer-buttons-container">
        <a href="javascript:parent.$.fancybox.close();" class="textLink fl">Cancel</a>
        <div class="wizard-footer-nav-container">
            <a href="@Url.Action("CreateVenueContact", new { id = SecurityContext.CurrentProfile.Id })" class="button pink large backBtn">Back</a>
            <input class="button pink large" type="submit" value="Next" />
        </div>
    </div>
    
}

<div class="cb"></div>
