
<section class="nopadding hidden-sm hidden-md hidden-lg row wisdom-strip-Bottom">
    <div class="col-xs-10 nopadding">
        <header>
            <h2 class="pageTitle">
                <img src='/images/svgicons/icon_findTeal.svg' data-svgpng='/images/SvgIcons/icon_findTeal.png' /><span style='color: #459088; font-weight: normal'>Profile</span>
            </h2>
        </header>
    </div>
    <div class="col-xs-2 nopadding">
        <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon nopadding"></span></a>
    </div>
</section>
<div class="profile-strip-line"></div>
<br />
<h2 class="greenHeader myProfileHeader pull-left">
    <img src='/images/svgicons/Icon_ProfileTeal.svg' data-svgpng='/images/SvgIcons/Icon_ProfileTeal.png'/>
    Messages
</h2>
<button onclick="javascript:top.location.href='@Url.Action("Send")';" class="btn btn-success pull-right"><span aria-hidden="true" class=" glyphicon glyphicon-plus"></span> New message</button>

<hr style="margin-top: 7px; margin-bottom:7px;" />



