@model Clicks.Yoga.Portal.Models.Account.SuperUserWarningPartialModel
<div class="alert alert-danger  alert-dismissible centerAlign" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>


    <span style="font-weight: bold">
        @if (Model.User != null && Model.User.Profile != null && !string.IsNullOrEmpty(Model.User.Profile.Name))
        {
            @:You are currently impersonating '@Model.User.Profile.Name ' &nbsp;
        }
        else
        {
            @:You are currently impersonating another user' &nbsp;
        }
    </span> <br />
    <a class="alert-link" href="@Url.Action("RevertSuperUser", "Account")">Click here</a> to logout and return to your super user account page

</div>