@model Clicks.Yoga.Portal.Models.Account.AccountPasswordResetRequestModel

@{
    ViewBag.Title = "Password Reset Request Complete";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.BodyClass = "register-page";    
}
<div class="forgotPasswordBg">
    <div class="container-960">
        <div class="manual-register">
            <h2>Password Reset</h2>
            <p>We've sent an e-mail to the address you provided.  Follow the instructions in the e-mail to reset your password.</p>
            <p>Make sure to check your spam folder, as your e-mail provider may have redirected the message..</p>
            <p>If you can't find the message, click the button below to send a new one.</p>
                    <p style="text-align:center;">
                        @using (Html.BeginForm("passwordresetrequest", "account", FormMethod.Post, new {@class = "full"}))
                        {
                            @Html.HiddenFor(m => m.Username)
                            <input type="submit" value="Resend password reset e-mail" class="button pink large" style="width: auto;" />
                        }
                    </p>
        </div>
        <a href="http://www.facebook.com/Artist.Photografia" class="copyrightLink">Image courtesy of Robert Sturman</a>
    </div>
</div>