<div class="successLightbox">
<h3 class="cb">
    Thanks for writing a review and helping other yogis find the yoga that’s right for them.
</h3>
<p>
    You can view it on their professional page under the Reviews tab.
</p>
</div>