<div class="row mappadding">

    <div class="col-sm-4 col-md-5  ">

        <img id="LogoMain" src="/Images/Stories/Logo.svg" alt="The Yoga Map Project" class="img-responsive" data-svgpng="/Images/Stories/Logo.png">


    </div>
    <div class="col-sm-8 col-md-7  nopadding hidden-xs">
        <br />
        @*<a id="AddStory" onclick="javascript: Addstoryswitch();" class="btnalt btn-4">

            <span>
                Add your story!
            </span>

        </a>*@
        <a id="AddStoryMoreInfo" class="btnalt btn-4">
            <span class="">Get started</span>
        </a>
    </div>
</div>


<div class="row mappadding">
    <div class="col-sm-12 ">
        <br/>

        <div id="container">
            <div id="map"></div>
        </div>
    </div>

</div>
<hr class="hidden-sm hidden-md hidden-lg maphr" />
<div class="row mappadding hidden-sm hidden-md hidden-lg mblinks">


    <div class="col-xs-4 centerAlign nopadding ">
        <a id="right-menu" href="#">FILTER<br/>STORIES</a>
    </div>
    <div class="col-xs-4 centerAlign nopadding ">
    <a id="AddStorymini" href="#">GET<br />STARTED</a>
</div>
    <div class="col-xs-4 centerAlign nopadding ">
        <a id="MapToggle" href="#">SHOW<br />MAP</a>
    </div>
    

</div>
<hr class="hidden-sm hidden-md hidden-lg maphr" />

<div class="row mappadding">
   
        <div class="col-sm-12 centerAlign ">
            <span class="PBYMaptag">#PoweredByYoga stories - add yours to get featured</span>
        </div>
    </div>
    <div class="row mappadding hidden-xs">
    <div id="MenuMap" class="col-sm-12 centerAlign text-box text-justify  ">
        <a id="Map-latest" href="#"><span class="MapTab ">Latest Stories</span></a>
        <a id="Map-YogaMeds" href="#"><span class="MapTab">YogaMeds</span></a>
        <a id="Map-Locations" href="#"><span class="MapTab">Featured Locations</span></a>
        <a id="Map-Challenges" href="#"><span class="MapTab">Life Challenges</span></a>
        <a id="Map-Students" href="#"><span class="MapTab">Students</span></a>
        <a id="Map-Teachers" href="#"><span class="MapTab">Teachers</span></a>
        <a id="Map-Designers" href="#"><span class="MapTab">Designers/Creators</span></a>
    </div>
</div>
<div class="row mappadding hidden-sm hidden-md hidden-lg">
    <div id="MenuMapMin" class="col-sm-12 centerAlign text-justify  ">
       
    </div>
</div>
<div id="StoryLocations" style="display:none;" class="row mappadding">
    <br />
    <div class="col-xs-6  col-sm-3 centerAlign ">
        <img data-locationmap="MA" src="~/Images/Stories/Storiesbanner/MA.png" class="hidden-xs"/>
        <img data-locationmap="MA" src="~/Images/Stories/Storiesbanner/MAmini.png" class="hidden-sm hidden-md hidden-lg" />
    </div>

    <div class="col-xs-6 col-sm-3 centerAlign ">
        <img data-locationmap="CL" src="~/Images/Stories/Storiesbanner/CL.png" class="hidden-xs" />
        <img data-locationmap="CL" src="~/Images/Stories/Storiesbanner/CLmini.png" class="hidden-sm hidden-md hidden-lg" />
    </div>


    <div class="col-xs-6 col-sm-3 centerAlign ">
        <img data-locationmap="NO" src="~/Images/Stories/Storiesbanner/NO.png" class="hidden-xs" />
        <img data-locationmap="NO" src="~/Images/Stories/Storiesbanner/NOmini.png" class="hidden-sm hidden-md hidden-lg" />
    </div>

    <div class="col-xs-6 col-sm-3 centerAlign ">
        <img data-locationmap="LO" src="~/Images/Stories/Storiesbanner/LO.png" class="hidden-xs"/>
        <img data-locationmap="LO" src="~/Images/Stories/Storiesbanner/LOmini.png" class="hidden-sm hidden-md hidden-lg"/>

    </div>
 
    <hr class="maphr addmargin">
</div>
<div id="StoryChallenges" style="display:none;" class="row mappadding">
    <br />
    <div class="col-xs-6  col-sm-push-1 col-sm-2 centerAlign ">
        <img data-challengesmap="4" src="~/Images/Stories/Storiesbanner/family.png" class="hidden-xs" />
        <img data-challengesmap="4" src="~/Images/Stories/Storiesbanner/family.png" class="hidden-sm hidden-md hidden-lg" />
    </div>

    <div class="col-xs-6 col-sm-push-1 col-sm-2 centerAlign ">
        <img data-challengesmap="5" src="~/Images/Stories/Storiesbanner/medical.png" class="hidden-xs" />
        <img data-challengesmap="5" src="~/Images/Stories/Storiesbanner/medical.png" class="hidden-sm hidden-md hidden-lg" />
    </div>


    <div class="col-xs-6 col-sm-push-1 col-sm-2 centerAlign ">
        <img data-challengesmap="3" src="~/Images/Stories/Storiesbanner/relationships.png" class="hidden-xs" />
        <img data-challengesmap="3" src="~/Images/Stories/Storiesbanner/relationships.png" class="hidden-sm hidden-md hidden-lg" />
    </div>

    <div class="col-xs-6 col-sm-push-1 col-sm-2 centerAlign ">
        <img data-challengesmap="1" src="~/Images/Stories/Storiesbanner/self.png" class="hidden-xs" />
        <img data-challengesmap="1" src="~/Images/Stories/Storiesbanner/self.png" class="hidden-sm hidden-md hidden-lg" />

    </div>
    <div class="col-xs-6 col-sm-push-1 col-sm-2 centerAlign ">
        <img data-challengesmap="2" src="~/Images/Stories/Storiesbanner/work.png" class="hidden-xs" />
        <img data-challengesmap="2" src="~/Images/Stories/Storiesbanner/work.png" class="hidden-sm hidden-md hidden-lg" />

    </div><br /><br />
    <hr class="maphr addmargin">
</div>


    <div id="StorysContainer" class="row mappadding">
    </div>
    <div class="no-more-styles" style="display:none;"></div>
    <div class="loading-bar">
   
    </div>



    <div class="modal  bs-modal-lg" tabindex="-1" role="dialog" id="popupmain" aria-labelledby="myLargeModalLabel"><div class="modal-dialog " id="modellg" role="document"></div></div>
    <div class="modal  Smaller  bs-modal-lg" tabindex="-1" role="dialog" id="popupmainview" aria-labelledby="myLargeModalLabel"><div class="spip modal-dialog" role="document"></div></div>

