@model dynamic

@{
    ViewBag.Title = "Manifesto";
    Layout = "~/Views/Layout/layout.cshtml";
}
@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}
<div id="content-slider" class="content-slider">

	<div class="content-col" id="scroll">

		<section class="page-content">
        
        	<article id="static">
                <div>
                    <img src="/images/static/manifesto/manifesto.jpg" alt="Manifesto" class="scale" />
                </div>
            </article>
            
        </section>

	</div>

</div>
