@model dynamic

@{
    ViewBag.Title = "Press Release";
    Layout = "~/Views/Layout/layout.cshtml";
}@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}

<div id="content-slider" class="content-slider">

	<div class="content-col" id="scroll">

		<section class="page-content">
        
        	<article id="static">

                <h1>Press Release</h1>

                <h2>For immediate release</h2>
                <p>It’s not often that a book gives birth to a website, but that’s what happened here. </p>
                <div style="float: left; margin-right: 20px;"><img src="/images/static/story/ysd-cover.jpg" alt="Yoga School Dropout" /></div>
                <p>Lucy Edge’s Yoga School Dropout describes her journey through the yoga schools of India. </p>
                <p>As the title suggests her quest to become a yoga goddess didn’t go according to plan, but it struck a chord with readers and Lucy got hundreds of emails asking for recommendations on teachers and schools, not just in India, but all over the world. </p>
                <p>Lucy considered selflessly devoting the rest of her life to answering these questions – circling the globe on a yoga mat, stopping off in Hawaii, Byron Bay, Kerala… </p>
                <p>Then she had an idea. </p>
                <p>To create a website for the global yoga community - a place for us to find and share the yoga we love. </p>
                <p>YogaClicks is that website. </p>
                <p>Here’s just some of what we’ve got (and we’ve got lots more coming):</p>
                <p><img src="/images/static/press/discover.png" alt="Discover" /></p>
                <p>‘Seek and ye shall find’</p>
                <p>Search for yoga teachers and venues – any style, anywhere. </p>
                <p>‘I’ll have what she’s having’ </p>
                <p>Read and write reviews – share the love.</p>
                <p><img src="/images/static/press/wisdom.png" alt="Wisdom" /></p>
                <p>‘From darkness into light’ </p>
                <p>Beginner FAQs, the wisdom of Joan Rivers & Lao Tzu, and 5000 years of yoga, in 800 words.</p>
                <p>‘From Ananda to Yin Yang’ </p>
                <p><img src="/images/static/press/practice.png" alt="Practice" /></p>
                <p>Our Style Finder is a world first – an interactive guide to help you find the yoga style that’s right for you. </p>
                <p>‘Find it. Love it. Love it,’ as we like to say, at YogaClicks.</p>
                <h3>Want more?</h3>
                <p>Lucy Edge is available for interview: lucy@yogaclicks.com</p>
                       
           </article>
            
        </section>

	</div>

</div>
