@model dynamic

@{
    ViewBag.Title = "Our Story";
    Layout = "~/Views/Layout/layout.cshtml";
}
@section LeftNav{
    @Html.Partial("left-nav-static-footer")
}

<div style="margin-left: -15px;margin-right:-15px" class="nopadding hidden-sm hidden-md hidden-lg">
    <section class="filters greyScale" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu addpadding">
                <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon"></span></a>
                <h1>The story of YogaClicks</h1>
            </div>
        </div>
    </section>
</div>



<div class="row nopadding">
    <div class="col-xs-12 ">

        <section class="page-content ">
            <article id="static">
                <h1 class="hidden-xs">The story of YogaClicks</h1>

                <img src="/images/our-story/cover.jpg" alt="Image of David and me" class=" img-responsive img-rounded img-thumbnail "><br/><br/>
                <p>Hello, I'm Lucy, and this is David – my YogaClicks partner and husband. The photo was taken on the eve of our wedding, August 2008. </p>
                <p>I haven't always looked this happy. </p>
                <p>Ten years ago I was a corporate wash-up, working eighty-hour weeks in advertising - debating what song a sunflower should sing.</p>
                <p>One day I jacked in my madder than Mad Men job and headed off to the yoga schools of India in search of a guru, someone to lead me from gu – darkness, into ru - light. </p>
               <h2>Yoga School Dropout</h2>
                <div class="row nopadding">
                    <div class="col-sm-12 nopadding">
                        <img src="/images/our-story/image1.jpg" style="float: right; max-width: 200px; margin: 10px;" alt="Yoga School Dropout" class="img-responsive">
                        <p>My book Yoga School Dropout describes a quest that never went entirely to plan, but brave readers didn't let that stop them - they got in touch, wanting recommendations on yoga holidays and classes and teacher training. </p>
                        <p>So far, so brilliant. </p>
                        <p>Only one problem.</p>
                        <p>I was getting emails from Manchester and Montana, Melbourne and Montreal, and I didn't know jack about yoga anywhere but India or London – and even then I was sun saluting on a pinhead. </p>
                        <p>Then I had an idea.</p>
                        <p>I was, in the words of Brody as he stared down the shark known as Jaws, 'gonna need a bigger boat.' </p>
                        <p>A much bigger boat.</p>
                        <p>A crowd-sourced boat. </p>
                        <p>A place for the global community to find, love and live great yoga – the teachers that inspire us, the centres that welcome us, the holidays that change our lives.</p>
                        <p>So we found our rock star developers (only one of whom looks anything like a rock star) and together we built our boat, and David named our boat YogaClicks. </p>
                        <p>And now all it needs is you. </p>
                        <p>Welcome aboard.</p>
                    </div>
                  
                </div>

            </article>

        </section>
    </div>
</div>