@model Clicks.Yoga.Portal.Models.Static.HowToUseModel

@{
    ViewBag.Title = "Profile & professional pages guide";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.MenuClass = "how-to-navigation";
}
@section LeftNav{
    
}

@if (Model.Registered && !Model.HasTeacher)
{
    @*<h2>Thanks for signing up – welcome to YogaClicks</h2>
        <div style="position: relative;"></div>
        <img src="/images/how-to-use/head-registered.jpg" alt="" class="scale" style="margin-bottom: 32px;">*@
    //DW - DYC-42 Change to open pop automatically when page is accessed via the registeration process
    <script type="text/javascript">
        $(window).load(function () {
            openModal('/profiles/WizardIntro', false, undefined, undefined, replace);
        });

        function replace() {
            window.location.href = window.location.href.toLowerCase().replace("?registered=true", "");
        }
    </script>
}

<div class="profile-guide-container">
<img src="@Url.Content("~/images/static/profile-guide/profile-guide-full-image.jpg")" />
</div>
