<div id="navwrap">
    

    <section class="filters" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu groupslinks">
                <span id="right-menu-close" title="Close" class="close filter-icon pull-right hidden-sm hidden-md hidden-lg" aria-label="Close"><span aria-hidden="true">&times;</span></span>

                @if (SecurityContext.Authenticated)
                {


                    <h1 class="pageTitle"><span style="float: left">Newsfeed</span></h1><br />






                    <div class="communityNav newsfeedNav"><a href="@Url.Action("News", "Profiles", new { SecurityContext.CurrentProfile.Id })"><span>&nbsp;</span> My newsfeed</a></div>
                }
                @*<div class="newsfeed-ad">
                    <a href="http://www.yogaclicks.com/activities/jeff-phenix/5588">
                        <img class="img-responsive" src="~/Images/ads/jp.jpg" />
                    </a>
                </div>*@
                <div class="twitterFeed">
                    <a class="twitter-timeline" href="https://twitter.com/yogaclicks" data-widget-id="402823742109134848">Tweets by @@YogaClicks</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>
    </section>
    <br /><br />
</div>

<script>

    $("#right-menu-close").click(function () {
        $("#right-nav").fadeToggle("fast");
        $(".dark-overlay").fadeToggle("slow");
    });
</script>
